lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env

pids
logs
results
public/bower_components
node_modules
npm
build
.idea/workspace.xml
.idea/jsLibraryMappings.xml
dump.rdb

npm-debug.log
config_settings.js

public/js/templates.js