
    </div>
    <div style="display:none">
        <div id="postbox">
            <div class="postbox-two clearfix">
                <p>How did you feel today? Don't hesitate to write freely.</p>
                <textarea class="form-control postbox-description" rows="10"></textarea>
                <button type="button" class="btn btn-primary postbox-send">Go on</button>
            </div>
            <div class="postbox-options">
                <p>Using the freewrite you just wrote, write a poem. It's important to recognize the feelings that you felt.</p>
                <p>Any kind qualifies! Why not try writing a haiku? Please use <a href="http://poetrytherapy.org/">http://poetrytherapy.org/</a> as an example</p>

                <textarea class="form-control" rows="3" id="expression-field"></textarea>
                <button type="button" class="btn btn-primary postbox-submit">Create reflection</button>
            </div>
        </div>
    </div>
</body>
</html>