<html>
<head>
    <link type="text/css" href="/css/third-party/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/jquery.tooltip.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link type="text/css" href="/css/single.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/third-party/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/js/third-party/backbone.min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.scrollspy.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.highlight.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/js/third-party/handlebars.js"></script>

    <script type="text/x-handlebars-template" id="index-template">
        <div class="logo-name">reflectupon</div>
        <div class="form-container">
            <form id="login-form" action="/login" method="post">
                <div class="clearfix">
                    <label>Username</label>
                    <input type="text" name="username"/><br/>
                </div>
                <div class="clearfix">
                    <label>Password</label>
                    <input type="password" name="password"/>
                </div>
                <div class="clearfix">
                    <input type="submit" value="Log in"/>
                </div>
            </form>
            <div class="or-register">or <a href="javascript:;">Register</a></div>
            <form id="register-form" action="/register" method="post">
                <div class="clearfix">
                    <label>Username</label>
                    <input type="text" name="username"/><br/>
                </div>
                <div class="clearfix">
                    <label>Password</label>
                    <input type="password" name="password"/>
                </div>
                <div class="clearfix">
                    <label>E-mail</label>
                    <input type="text" name="email"/><br/>
                </div>
                <div class="clearfix">
                    <input type="submit" value="Register"/>
                </div>
            </form>
            <div class="or-login">or <a href="javascript:;">Log In</a></div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="postbox-template">
        <div class="postbox-two clearfix">
            <p>How do you feel now? Don't hesitate to write freely.</p>
            <textarea class="form-control postbox-description" rows="10"></textarea>
            <button type="button" class="btn btn-primary postbox-send">Create reflection</button>
        </div>
        <div class="postbox-options">
            <p>Using the freewrite you just wrote, write a poem. It's important to recognize the feelings that you felt.</p>
            <p>Any kind qualifies! Why not try writing a haiku? Please use <a href="http://poetrytherapy.org/">http://poetrytherapy.org/</a> as an example</p>

            <textarea class="form-control" rows="3" id="expression-field"></textarea>
            <button type="button" class="btn btn-primary postbox-submit">Create reflection</button>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="frequency-template">
        <li class="{{#if num_post}}filled{{/if}}"></li>
    </script>
    <script type="text/x-handlebars-template" id="tooltip-template">
        <div class="heading">You just highlighted:</div>
        <div class="description">{{ annotation }}</div>
        <div class="heading">Create your reflection based off of your highlight:</div>
        <textarea class="reflection"></textarea>
        <button class="btn submit">Write reflection</button>
    </script>
    <script type="text/x-handlebars-template" id="thought-item-template">
        <div class="message">
            <div class="description">{{ description }}{{#if read_more}} <a href="javascript:;">Read more</a>{{/if}}</div>
            <div class="tooltip_description" style="display:none;" title="No worries"></div>
            <a href="javascript:;" class="privacy-status">
                <i class="fa {{#equal privacy "Private"}}fa-user{{else}}fa-users{{/equal}}"></i> {{privacy}}
                <span class="tooltip_description">{{privacy}}: Click to set as {{privacy_inverse}}</span>
            </a>
        </div>
        {{#if annotation }}
            <div class="annotation">
                <div class="annotation-desc">Annotation: {{ annotation }}</div>
            </div>
        {{/if}}
        <div class="reply-collection-container"></div>
    </script>
    <script type="text/x-handlebars-template" id="new-thought-item-template">
        <span class="checkbox {{#if replied}}active{{/if}}">
            <span class="glyphicon glyphicon-ok"></span>
        </span>
        <a href="javascript:;" class="description">{{ description }}</a>
        <div class="date">written {{ date }}</div>
    </script>
    <script type="text/x-handlebars-template" id="dashboard-template">
        <div class="my-dashboard">
            <div class="section-title">Post Frequency</div>
            <div class="section container">
                <div class="post-frequency"></div>
            </div>
            <div class="section-title">Recent Actions</div>
            <div class="section">
                <div class="message-feed"></div>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="message-template">
        <div class="message">
            <div class="heading">
                You wrote this!
            </div>
            <div class="description">
                {{ description }}
            </div>
            <div class="action-text">
                <a href="javascript:;">Do something!</a>
            </div>
        </div>
    </script>
    <script type="text/template" id="stream-template">
        <div class="title">{{ title }}</div>
        <div class="description">{{ description }}</div>
        <div class="post-footer"><span>{{ privacy }}</span> | <a href="/thought/{{_id}}">View Page</a></div>
    </script>
    <script type="text/template" id="single-template">
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/template" id="reply-template">
        <div class="heading">You have already replied:</div>
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/x-handlebars-template" id="single-thought-template">
        <div id="single-thought">
            <div class="section" id="main-thought">
                <div class="container">
                    {{#if title}}<div class="title">{{title}}</div>{{/if}}
                    <div>{{ description }}</div>
                </div>
                {{#if description2 }}
                    <div class="full-thought">
                        <span>{{ description2 }}</span>
                        <div class="show-thought"><a href="javascript:;">Show full reflection</a></div>
                    </div>
                {{/if}}
            </div>
            <div class="section container write-reply">
                <textarea></textarea>
                <div class="write-footer clearfix">
                    <button class="btn submit-reply">Submit reply</button>
                </div>
            </div>
            <div class="actions-container"></div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="follow-user-template">
        <a href="javascript:;" class="btn follow">Follow</a>
        <a href="javascript:;" class="btn following hidden">Following</a>
        <p>for more reflections from this user</p>
    </script>
    <script type="text/template" id="sidebar-template">
        <div class="menu" style="
            float: left;
            margin-top: 40px;
        ">
        <div class="show-postbox">
        <i class="fa fa-plus-square-o fa-2x" style="
            padding-left: 2px;
        "></i>
        </div>
        <div class="to-dashboard">
        <i class="fa fa-dashboard fa-2x" style="
            margin-left:-1px;
        "></i>
        </div>
        <div class="show-thoughts">
        <i class="fa fa-bars fa-2x" style="
            padding-left: 1px;
        "></i>
        </div>
        <div class="other-thoughts">
        <i class="fa fa-leaf fa-2x" style="margin-left:-1px"></i>
        <div class="tooltip_description" style="display:none">
            <div class="new-reflections"></div>
        </div>
        </div>
        {{#if showSuperUser }}
            <div class="show-super-user">
                <i class="fa fa-globe fa-2x" style="margin-left:1px"></i>
            </div>
        {{/if}}
        </div>
    </script>
    <script type="text/x-handlebars-template" id="user-template">
        {{ email }}<br />
        {{ date }}
    </script>
    <script type="text/javascript" src="/js/models.js"></script>
    <script type="text/javascript" src="/js/views/views.js"></script>
    <script type="text/javascript" src="/js/views/sidebar.js"></script>
    <script type="text/javascript" src="/js/views/single.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/third-party/bootstrap.min.js"></script>
</head>
<body >
<% if (topBar) { %>
<% include topbar %>
<% } %>
    <div class="wrapper clearfix">