<% include header %>

     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <div id="sidebar">
        <ul class="main-options">
            <li>
                <a href="javascript:;" class="show-postbox">Create a reflection</a>
            </li>
            <li>
                <a href="/today">Today's reflection</a>
            </li>
            <li>
                <a href="/home">All your reflections</a>
            </li>
        </ul>
        <p>New Reflections<span class="glyphicon glyphicon-info-sign" data-text="Help out new friends!"></span></p>
        <ul class="new-reflections">

        <% if (thoughts) { %>
            <% for(var i=0; i<5; i++) { %>

                <% if (thoughts[i]) { %>
                    <li data-id="<%= thoughts[i]._id %>">
                        <a href="/thought/<%= thoughts[i]._id %>"><%= thoughts[i].description %>
                            <span>written yesterday</span>
                        </a>
                    </li>
                <% } %>

            <% } %>
        <% } %>
        </ul>
    </div>
    <div id="container">
        <div class="thoughts-list">
            <div id="main">
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){

        //profileThoughts.reset();

    })
    </script>

<% include footer %>

