<% include header %>
    <div id="sidebar">
        <ul class="main-options">
            <li>
                <a href="javascript:;" class="show-postbox">Create a reflection</a>
            </li>
            <li>
                <a href="javascript:;" class="to-dashboard">My dashboard</a>
            </li>
            <li>
                <a href="javascript:;" class="show-thoughts">All your reflections</a>
            </li>
        </ul>
        <p>New Reflections<span class="glyphicon glyphicon-info-sign" data-text="Help out new friends!"></span>
                <span class="glyphicon glyphicon-refresh"></span></p>
        <ul class="new-reflections"></ul>
    </div>
    <div id="container">
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startPage({ user_id: "<%= user._id %>" });
    })
    </script>

<% include footer %>

