<% include header %>
<div class="left-side">
</div>
<div class="right-side">
</div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startIndexPage();
    })
    </script>
<% include footer %>