<html>
<head>
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link type="text/css" href="/css/thought.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore.min.js"></script>
    <script type="text/javascript" src="/js/backbone.min.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollspy.js"></script>
    <script type="text/javascript" src="/js/jquery.highlight.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body class="new-ux">
    <div class="wrapper clearfix">

     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <div>
        <h1>Welcome to reflectupon!</h1>
        <p>We take a lot of care to make sure our users are genuine. Please take the time to introduce yourself, and we will confirm your registration right away!</p>
        <textarea class="form-control" rows="3"></textarea>
        <p>How do you currently feel?</p>
        <div class="checkbox">
           <label>
             <input type="checkbox" value="">Happy
           </label>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox" value="">Sad
           </label>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox" value="">Angry
           </label>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox" value="">Ecstatic
           </label>
         </div>
         <button type="button" class="btn btn-primary" style="margin-top:15px">Submit Application</button>
    </div>

<% include footer %>