<% include header %>

    <div id="sidebar">

    </div>
    <div id="container">
        <div id="single-thought" thought-id="<%= id %>">
            <div id="main-thought">
            </div>
            <div class="write-reply">
                <textarea></textarea>
                <div class="write-footer clearfix">
                    <a href="#" class="submit-reply">Submit reply</a>
                </div>
            </div>
            <div class="reply-area">
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){

        singleThought.reset(<%- JSON.stringify(thought) %>);
        singleReplies.reset(<%- JSON.stringify(replies) %>);
        singleAnnotations.reset(<%- JSON.stringify(annotations) %>);

    });
    </script>

<% include footer %>