<% include header %>

    <div id="sidebar">

    </div>
    <div id="container">
        <div id="single-thought" thought-id="<%= id %>">
            <div id="main-thought">
            </div>
            <div class="write-reply">
                <textarea></textarea>
                <div class="write-footer clearfix">
                    <a href="#" class="submit-reply">Submit reply</a>
                </div>
            </div>
            <div class="reply-area">
                <div class="reply-row">
                    <div class="title">asdfasdfawe</div>
                    <div class="description">c augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent perc augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent per</div>
                </div>
                <div class="reply-row">
                    <div class="title">asdfasdfawe</div>
                    <div class="description">c augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent perc augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent per</div>
                </div>
                <div class="reply-row">
                    <div class="title">asdfasdfawe</div>
                    <div class="description">c augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent perc augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent per</div>
                </div>
                <div class="reply-row">
                    <div class="title">asdfasdfawe</div>
                    <div class="description">c augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent perc augue sed, aliquam semper orci. Aenean nec pellentesque ipsum. Sed turpis lorem, eleifend eu neque sed, lacinia molestie purus. Class aptent taciti sociosqu ad litora torquent per</div>
                </div>
            </div>
        </div>
    </div>

<% include footer %>