<% include header %>

    <div id="sidebar">

    </div>
    <div id="container">
        <div class="stream-list">
            <div id="main">
            </div>
        </div>
    </div>

<% include footer %>

