<% include header %>

     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <div id="sidebar">

    </div>
    <div id="container">
        <div class="stream-list">
            <div id="main">
            </div>
        </div>
    </div>

<% include footer %>

