<div id="topbar-wrapper">
    <div id="topbar">
        <a id="lifeline" href="/home">reflectupon</a>
        <a href="/logout" style="float:right; margin-top:3px"><span class="glyphicon glyphicon-asterisk"></span></a>
    </div>
</div>