<div id="topbar-wrapper">
    <div id="topbar">
        <a id="lifeline" href="/home">reflectupon</a>
        <a id="stream" href="/stream">Stream</a>
        <a href="/logout">Log out</a>
    </div>
</div>