<div id="topbar-wrapper">
    <div id="topbar">
        <a id="lifeline" href="/home">reflectupon <span style="font-size:14px;margin-right:20px;color:#ddd;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(732-410-4303 to send and get a reflection!)</span></a>
        <a href="/logout" style="float:right; margin-top:3px"><span class="glyphicon glyphicon-asterisk"></span></a>
        <a href="/dashboard">Dashboard</a>
    </div>
</div>