body{position:relative;}
body.landing-page{}
.landing-page .wrapper{width:100%;padding:0;}
.background{background-image:url("/images/journal-reflectupon.jpg");background-size:1800px;background-position:center -334px;height:1000px;position:fixed;top:0;left:0;width:100%;opacity:0.6;}
.index-container .head-content{position:relative;font-family:'Merriweather' !important;}
.index-container .head-content .title{font-size:56px;font-weight:600;}
.index-container .head-content .description{font-size: 25px;padding-top: 8px;font-weight: 200;line-height:46px;max-width:700px;margin:0 auto;}
.index-container .head-content .container{padding-top:70px;padding-bottom:30px;margin:0 auto;text-align:center;color: #fff;text-shadow: 1px 1px #4F4F4F;}
.index-container .head-content .btn{display: inline-block;padding: 12px 22px;background-color: #EDEDED;margin-top: 20px;text-shadow: none;border-radius: 3px;color: #6E4F4F;box-shadow: inset 0 1px 2px #FFF;font-size: 18px;font-weight: 600;margin-bottom: 40px;}
.index-container .feed-content{min-height:1000px;position:relative;margin:0 auto;float:none;}
.index-container .thoughts-list{margin:0 auto;padding:60px 0;}
.main-content{position:relative;background-color:#f5f5f5;}
.index-container {height:500px;}
.logo-name{text-shadow: 0px 2px #5A5656;font-size: 40px;letter-spacing: 1px;margin-bottom:15px;}
.logo-name form{position: absolute;top: 230px;left: 0;width: 100%;}
.index-container .special-msg{text-align: center;background-color: #E45C5C;margin: 10px auto 20px;padding: 10px 0;color:#ffffff;border-radius:2px;}

.thoughts-list .tooltip{opacity:1;box-shadow:0 0 0 #000000;}
.thoughts-list .tooltip.bottom .tooltip-arrow{top:-4px;margin-left:-8px;border-width:0 10px 10px;border-bottom-color:#fff;}
.thoughts-list .tooltip-inner{background-color: #fff;color: #656565;padding: 13px 10px;border-radius: 3px;box-shadow: 0 2px 6px #9E9E9E;font-size: 15px;border: 1px solid #ccc;}
.thoughts-list .tooltip ul {list-style: none;text-align: left;margin-bottom:0;}
.thoughts-list .tooltip li {margin-bottom: 3px;border-bottom: 1px solid #ccc;padding-bottom: 3px;}
.thoughts-list .tooltip li:last-child{border-bottom:0;margin-bottom:0;}
.login-form{border-radius:3px;}
.login-form .row-container label{width:85px;}
.reset-password-form{width:320px;}
.reset-password-form .row-container label{width:132px;}
.submit-box{text-align:center;margin-bottom:20px;}

.row-container{margin-bottom:8px;text-align:center;}
.row-container label{display:block;float:left;margin-top:8px;text-align:right;}
.row-container .input{float:right;font-size:17px;padding:4px;width:178px;}
.index-container hr{margin-bottom:20px;}
.index-container .forgot-password-container{text-align:center;padding-bottom:20px;}
.index-container form input[type=submit]{font-size:16px;padding: 10px 46px;background-color: #F0EEEE;border-radius: 3px;border: 0;box-shadow: 1px 1px 1px #ccc;}
.index-container .or-register,.index-container .or-login{text-align:center;}
.index-container .or-login{display:none;}
.index-container .message a{text-decoration:none;color:#636CDB}
.index-container #register-form, .index-container #forgot-password{display:none;}

@media all and (max-width:991px) {
    .preempt-reply{display:none !important;}
}

@media all and (min-width:991px) {
    .write-reply{display:none;}
}