ul{margin:0;}

.landing-page #topbar-wrapper .navbar {
  height: 65px;
  padding-top: 8px;
  overflow: hidden.;
}

.landing-page #topbar-wrapper .navbar-right .sign-up-btn{
  opacity: 0;
}

.landing-page #topbar-wrapper .navbar-right .log-in-btn{
  opacity: 1;
  font-size: 16px;
  color: #fff;
  height: 47px;
  vertical-align: 3px;
  margin-left: 4px;
  border-radius: 3px;
  border: 1px solid #fff;
  line-height: 16px;
  margin-top: -2px;
}

.landing-page #topbar-wrapper .navbar-brand{
  opacity: 0;
  margin-top: 25px;
  transition: margin-top .5s, opacity .2s;
}
.landing-page #topbar-wrapper .navbar.scrolled{
  background-color: #fff;
  border-bottom: 6px solid #333;
}

.landing-page #topbar-wrapper .navbar.scrolled .navbar-brand{
  display:block;
  margin-top: 0;
  opacity: 1;
}

.landing-page #topbar-wrapper .navbar.scrolled .navbar-right .log-in-btn{
  color: #444;
  border: 1px solid #444;
}

.landing-page .wrapper{width:100%;padding:0;}
.landing-page #topbar-wrapper{background-color:transparent;box-shadow:0 0 0;}
.landing-page #topbar a{color:#f2f2f2;}
.landing-page .scrolled #topbar a {
  color: inherit;
}
.landing-page #topbar a:focus{background-color:transparent;}
.index-container .title {
  font-family:'Merriweather' !important;
}
.index-container .btn{display: inline-block;padding: 12px 22px;background-color: #EDEDED;margin-top: 50px;text-shadow: none;border-radius: 6px;color: #6E4F4F;box-shadow: 0 1px 4px #8D8D8D;font-size: 18px;font-weight: 600;margin-bottom: 40px;}

.main-content{position:relative;background-color:#f5f5f5;}
.logo-name{text-shadow: 0px 2px #5A5656;font-size: 40px;letter-spacing: 1px;margin-bottom:15px;}
.logo-name form{position: absolute;top: 230px;left: 0;width: 100%;}
.index-container .special-msg{text-align: center;background-color: #E45C5C;margin: 10px auto 20px;padding: 10px 0;color:#ffffff;border-radius:2px;}

.login-form{border-radius:3px;}
.login-form .row-container label{width:85px;}
.reset-password-form{width:320px;}
.reset-password-form .row-container label{width:132px;}

.submit-box{text-align:center;margin-bottom:20px;}


.row-container{margin-bottom:8px;text-align:center;}
.row-container label{display:block;float:left;margin-top:8px;text-align:right;}
.row-container .input{float:right;font-size:17px;padding:4px;width:178px;}
.index-container hr{margin-bottom:20px;}

.landing-page .submit-box input,
.landing-page .modal.login form input[type=submit]{
	font-size:20px;
  height: 45px;
	background-color: #00B2EE;
  color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 1px 1px 1px #ccc;
}
.modal.login .or-register,.index-container .or-login{text-align:center;}
.modal.login .or-login{display:none;}
.modal.login .message a{text-decoration:none;color:#636CDB}
.modal.login #forgot-password{display:none;}

.modal.login .status{
    margin-bottom: 10px;
    font-size: 16px;
    color: #00AA27;
}

@media (min-width: 1200px) {
  .landing-page .container {
    width: 970px;
  }
}

.landing-page li {
    margin-left: 20px;
    padding-left: 6px;
    margin-bottom: 6px;
}

.landing-page .heading{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight:400;
  margin-top: 20px;
}

.landing-page .heading:first-child{
  margin-top: 0;
}

.landing-page .description {
  font-size: 18px;
  font-weight:300;
  line-height:26px;
}

.landing-page .img {
  width:600px;
  background-color: #ccc;
  background-size:100%;
}

.landing-page img{
  width: 100%;
}
.landing-page #level3 img,
.landing-page #level4 img,
.landing-page #level6 img{
  display: none;
}
.landing-page #level3 img.selected,
.landing-page #level4 img.selected,
.landing-page #level6 img.selected{
  display: block;
}
.landing-page .form-box{
  margin-top:20px;
}
.landing-page input{
  border-radius: 2px;
  outline: none;
  color: #333;
  padding: 0 20px;
}

.landing-page span.error {
  color: red;
}
.landing-page .form-box input {
  border: 0;
}
.landing-page button{
  border: 0;
  margin-left: 10px;
  border-radius: 2px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 300;
  vertical-align: 5px;
}

.landing-page .level {
  padding-top: 60px;
  padding-bottom: 60px;
}

.landing-page #level1{
  height: 625px;
  overflow: hidden;
  padding: 0;
}
.landing-page #level1 img.background {
  width: 100%;
  opacity: 0.8;
}

.landing-page #level1 img{
  width: auto;
}

.landing-page #level1 .logo-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 225px auto 0;
  width: 750px;
}
.landing-page #level1 .logo-container img{
  height:70px;
}

.landing-page #level2 {
  text-align: center;
  font-size: 32px;
  background-color: #00B2EE;
  color: #fff;
  padding-top:30px;
  padding-bottom:30px;
}

.landing-page #level2 .container {
  max-width: 700px;
}
.landing-page #level2 .form-box{
  width: 420px;
  margin: 30px auto 0;
}
.landing-page #level2 input, .landing-page #level2 button{
  box-shadow: 0 2px 3px #0082AE;
}
.landing-page #level2 input{
  font-size: 24px;
}

.landing-page #level2 button{
  background-color: #00AA27;
  height: 45px;
  vertical-align: 3px;
  margin-left: 4px;
}


.landing-page #level3 {
  background-color:#008FBF;
  padding: 0;
  /*color: #fff;*/
}/*
.landing-page #level3 .description{
  width: 320px;
}
*/
.landing-page #level3 .popular-container{
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: transparent;
  margin: 0 10px;
}

.landing-page #level3 .popular-container .thought-row{
  width: 791px;
  margin: 0 auto;
  opacity:0;
  transition:opacity .5s;
}

.landing-page #level3 .popular-container .thought-row.shown{
  opacity: 1;
}
.landing-page #level3 .popular-container .message-top{
  color: #fff;
  font-size: 16px;
}
.landing-page #level3 .selectable span.perm {
  padding: 4px 0;
  transition: background-color .5s;
  background-color: transparent;
}
.landing-page #level3 .selectable span.perm.shown{
  background-color: #F6FFBA;
}

.landing-page #level3 .selectable span.perm.shown.pulse{
  background-color: #F2FF68;
}

.landing-page #level3 .replies-list {
  position: relative;
}
.landing-page #level3 .replies-list .reply-desc{
  left: 50px;
  opacity: 0;
  transition: left .75s, opacity .75s;
}
.landing-page #level3 .replies-list .reply-desc.shown{
  left: 0;
  opacity: 1;
}
.landing-page #level3 .replies .reply-desc p.description{
  height: auto;
}
.landing-page #level4 {
  background-color:#000000;
  color: #fff;
}
.landing-page #level4 .description{
  width:320px;
}
.landing-page #level5 {
  background-color:#E6E6E6;
}
.landing-page #level5 .description {
  width: 48%;
}
.landing-page #level6 {
}
.landing-page #level6 .description{
  width: 320px;
}
.landing-page #level7 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  background-color: #00AA27;
  padding-top:80px;
  padding-bottom: 80px;
}
.landing-page #level7 input, .landing-page #level7 button{
  box-shadow: 0 2px 3px #007F1D;
}
.landing-page #level7 button{
  background-color: #00B2EE;
  height: 45px;
}
.landing-page #footer {
  padding: 0;
  overflow: hidden;
}
.landing-page #footer img {
  width: 100%;
}

@media (max-width: 991px) {
  .landing-page .container {
    max-width: 970px;
  }

  .landing-page .img {
    width: 100%;
  }

  .landing-page #level1 {
    height: auto;
  }
/*
  .landing-page #level3 .description {
    margin-top: 20px;
    width: 100%;
  }
*/
  .landing-page #level4 .description {
    width: 100%;
    margin-bottom: 20px;
  }

  .landing-page #level6 .description {
    width: 100%;
    margin-top: 20px;
  }

  .landing-page #footer img {
    width: 120%;
    margin-left: -10%;
  }
}

@media (max-width: 939px) {

  .landing-page #level3 li.reply-desc{
    margin-left:0;
  }
  .landing-page #level3 .popular-container .thought-row {
    width: 100%;
  }
  .landing-page #level3 .extended{
    display:none;
  }

  .landing-page #level3 .popular-container .replies {
    margin-right: 12px;
  }
  .landing-page #level3 .popular-container .replies .reply-desc {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .landing-page #topbar-wrapper .navbar-brand {
    display: none;
  }
  .landing-page #level5 .description {
    width: 100%;
  }
  .landing-page #level5 .description:first-child{
    margin-bottom: 20px;
  }
  .landing-page #topbar-wrapper .navbar {
    background-color: #00B2EE;
    height: auto;
    padding-top: 0;
  }
  .landing-page button.navbar-toggle {
    width: auto;
    padding: 9px 10px;
  }
}

@media (max-width: 661px) {
  #topbar .navbar-brand {
    width: 85%;
  }
}

@media (max-width: 599px) {

  .modal-header .close{
    width: auto;
    padding: 0;
    margin-top: 0;
  }
  .landing-page .navbar-right li {
    text-align:center;
    margin-left:0;
    padding-left:0;
  }

  .landing-page #level1 {
    height: 260px;
  }

  .landing-page #level1 img {
    width: 160%;
    margin-left: -10%;
  }

  .landing-page #level2 .form-box {
    width: 100%;
  }

  .landing-page input, .landing-page button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .landing-page #level2 button {
    margin-left: 0;
  }

  .landing-page #level3 .extended-2{
    display:none;
  }
}