* {padding:0; margin:0}
body{color:#444;background-color:#f5f5f5}
body.new-ux{background-color:rgb(190,111,111)}
body.new-ux .wrapper{width:600px;padding:20px;background-color:#fff;margin-top:30px;border-radius:2px;box-shadow:0 2px 6px #5e5e5e}
body.new-ux textarea{margin-bottom:15px;}
a img{border:0;}
textarea{border:1px solid #ccc;border-radius:3px;padding:4px;font-size:16px;line-height:22px;resize: none;width:100%;height:100px;margin-bottom:15px;}
button.btn{display: block;border: 1px solid #ccc;padding: 10px;text-decoration: none;color: #fff;background-color: rgb(156, 62, 62);border-radius: 4px;font-size:16px;font-family:arial}
.hidden{display:none}

#topbar-wrapper{width:100%;height:45px;background-color:rgb(189, 63, 63);box-shadow:0 2px 3px rgb(133, 27, 27)}
#topbar{width:940px;margin:0 auto;font-family:arial;}
#topbar a{padding:9px 0;display:inline-block;font-size:24px;color:#fff;text-decoration:none;letter-spacing:1px;}
#topbar a.icon{float:right;margin-left:30px;margin-top:2px;}

.wrapper{width:940px;margin:0 auto;clear:both;display:block;padding-top:20px;}
.sidebar{float:left;min-height:300px;width:50px;position:fixed;}
.sidebar a{display:block}

.new-reflections li{list-style:none;margin:0 10px;padding:8px 6px 8px 10px;text-decoration:none;display:block;}
.new-reflections .checkbox{position:relative;display: block;border: 1px solid #ccc;height: 16px;width: 16px;float: left;margin-right: 8px;border-radius: 4px;margin-top: 2px;}
.new-reflections .checkbox.active {background-color: rgb(127, 196, 127);border: 1px solid rgb(122, 153, 122);}
.new-reflections .checkbox span{position:absolute;left:2px;top:4px;color:transparent;}
.new-reflections .checkbox.active span{color:#fff}
.new-reflections .description{padding-left:24px;display:block;color:rgb(180, 112, 112)}
.new-reflections .date{padding-left:24px;display:block;color:#9e9e9e;font-size:14px;}

.fa.fa-user {
    padding-left: 3px;
}
.menu div {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border:2px solid transparent;
    border-radius:6px;
}

.menu div:hover {
    border: 2px solid rgb(97,97,97);
}
.menu:hover {
    color: rgb(97,97,97);
}
.menu {
    color: rgb(241, 226, 226)
}

#container{margin:0 auto;min-height:600px;width:730px;}
#container.today{padding:0}
.today .heading{padding:10px 20px;background-color:#f3f3f3;border-bottom:1px solid #ccc;}
.today .heading h1{margin-top:10px;}
.today #single-thought{margin-bottom:30px;width:560px;padding:20px;}


.thoughts-list{}
.annotations-list{background-color:#ccc;width:230px;height:500px;position:fixed;right:148px;}

.postbox{background-color:#fff;width:550px;height:300px;padding:15px;}
.postbox-options,.postbox-poem,.postbox-song{display:none;}
.postbox-poem textarea, .postbox-song textarea{height:150px;margin-bottom:15px;}
.postbox-options textarea{margin-bottom:20px;}
.postbox-options button{margin:0 auto;}
.postbox-left{float:left;width:300px;height:300px;margin-right:15px;}
.postbox-right{float:right;border:1px solid black;width:200px;height:300px;}
.postbox-footer{padding:20px;background-color:#ccc;}

.postbox-two p{margin-bottom:10px;font-size:18px;}
.postbox-title{display:block;height:30px;width:100%;margin-bottom:15px;}
.postbox-description{display:block;width:100%;height:200px;margin-bottom:25px;resize:none;padding:10px;border:1px solid rgb(187,187,187);border-radius:6px;font-size:16px;box-shadow:inset 0 1px 6px rgb(241,241,241)}
.postbox-send {height: 36px;border-radius: 6px;background-color: rgb(180, 67, 67);color: #fff;font-size: 16px;border: 1px solid #ccc;padding: 0 40px;box-shadow: inset 0 1px 1px rgb(255, 166, 166);margin: 0 auto;display: block;}

.thoughts-list{position:relative;}
.thoughts-list.select-text .thought-row{opacity:0.1}
.thoughts-list.select-text .thought-row.selected{opacity:1}
.thought-row .title{font-weight:bold;font-size:22px;padding-bottom:5px;color:#111;}
.thought-row .message{font-size:20px;padding:16px 12px 4px;color:rgb(107, 107, 107);line-height:24px;position:relative;}
.thought-row .description{margin-bottom:6px;padding-left:25px;}
.thought-row .privacy-status{font-size:16px;color: rgb(241, 226, 226);position:absolute;top:20px;left:10px;overflow:hidden;width:17px;height:17px;}
.thought-row .privacy-status:hover{color: rgb(97,97,97);}
.thought-row .privacy-status span{display:none}
.thought-row .privacy-status:hover span{display:inline-block;color:#ccc;}
.thought-row a{text-decoration:none;font-size:16px;color:rgb(79,94,199)}
.thought-row .annotation{color:#fff;font-size: 13px;padding: 10px 36px;font-family:arial;background-color:rgb(196,98,98)}
.thought-row .reply-collection{background-color: rgb(241, 241, 241);padding: 1px 36px;color: #555;font-family: arial;font-size: 14px;}
.thought-row .reply-collection{list-style:none;}
.thought-row .reply-collection li {border-bottom: 1px solid rgb(218,201,201);padding:4px 0}
.thought-row .reply-collection li:last-child {border-bottom: 0;}

.section{margin-bottom:12px;background-color:#fff;box-shadow:0 2px 8px rgb(214,214,214);border-radius:1px;}
.section-title{font-size:24px;margin-bottom:20px;font-family:arial;}
.container{padding:20px;}

/* Message Feed */
.message-feed .message{border-bottom:1px solid #ccc;padding:10px 0}
.message-feed .heading{padding:5px;}
.message-feed .description{padding:5px;}
.message-feed .action-text{padding:5px;display:none;}

/* Dashboard */
.my-dashboard li{list-style:none;}
.post-frequency li{border:1px solid #ccc;height:20px;width:3.33%;float:left;box-sizing:border-box;border-left:0}
.post-frequency li:first-child{border-left:1px solid #ccc;}
.post-frequency li.filled{background-color:rgb(126, 176, 231);}

/* Super user */
ul.super-user {list-style:none}
ul.super-user li{padding:6px 20px;border-bottom:1px solid #ccc;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

#colorbox{outline:none;}
#cboxLoadedContent{box-shadow:0 2px 6px #A5A5A5;border-radius:3px;outline:none;}
#cboxOverlay{position:fixed;background-color:#ccc;height:100%;width:100%;top:0;left:0;}
#cboxClose{position:absolute;bottom:15px;right:15px;display:none;}

.highlight{background-color: #F8FFA1;border-radius: 1px;}

/* Tooltip view */
div.jquery-gdakram-tooltip{color:#000;}
div.jquery-gdakram-tooltip.thought-tooltip div.content{background-color:#fff;border:1px solid #ccc;box-shadow: 0 3px 8px rgb(160, 159, 159);width:540px;border-radius:1px;}
div.jquery-gdakram-tooltip.general-tooltip {color: #fff;font-size: 14px;font-family: arial;border-radius: 2px;}
div.jquery-gdakram-tooltip.general-tooltip div.content{border-radius: 4px;padding: 8px 18px;background-color: rgb(97, 97, 97);}
div.jquery-gdakram-tooltip h1{display:none}
.tooltip-view{font-family: "Helvetica Neue";color: #444;}
.tooltip-view .heading{margin-bottom: 4px;font-size: 12px;}
.tooltip-view .description{font-size: 20px;margin-bottom: 20px;color:rgb(55, 107, 173);font-family:"times new roman"}
.tooltip-view .submit{margin:0 auto;}

.thought-tooltip .arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}
.thought-tooltip .arrow_box:after, .thought-tooltip .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.thought-tooltip .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}
.thought-tooltip .arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 16px;
    margin-left: -16px;
}

.jquery-gdakram-tooltip.other-tooltip{
    position:fixed;
}
.jquery-gdakram-tooltip.other-tooltip .content {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 3px;
    font-size: 18px;
    box-shadow:0 3px 8px rgb(207,207,207);
    font-family:garmond;
    min-height:50px;
}

.other-tooltip .arrow_box {
     position: relative;
     background: #fff;
     border: 1px solid #ccc;
 }
.other-tooltip .arrow_box:after, .other-tooltip .arrow_box:before {
    right: 100%;
    top: 35px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.other-tooltip .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 15px;
    margin-top: -15px;
}
.other-tooltip .arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #ccc;
    border-width: 16px;
    margin-top: -16px;
}}