.super-user .left-container ul {
  list-style: none;
  background-color: #ffffff;
}

.super-user .left-container li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.super-user .right-container {
  min-height: 500px;
}

.active-user-ranges-view{color:#747474;}
.active-user-range{padding:10px 14px;background-color:#fff;border-bottom:1px solid #EBEBEB;}
.active-user-range .start{float:left;width:150px;color:#83C1DE;font-weight:500;}
.active-user-range .count{float:left;width:30px;}
.active-user-range ul{float: left;padding-left: 30px;padding-top: 3px;}

.vet-thought-view {
  list-style:none;
}

.vet-thought-view li {
  padding:15px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.vet-thought-view .description {
  padding-bottom: 5px;
}

.vet-thought-view .options {
  border-top: 1px solid #ccc;
  padding-top: 3px;
}

.vet-thought-view .options .num-replies {
  color: red;
}

.vet-thought-view .options > * {
  margin-right: 10px;
}

.vet-reply-view {
  list-style:none;
}

.vet-reply-view li.reply-box{
  background-color: #ffffff;
  margin-bottom: 10px;
  float: left;
  width: 246px;
  margin-right: 10px;
}
.vet-reply-view .actions-box{
  background-color: #E7F9FF;
  position: relative;
}
.vet-reply-view .actions-box li {
  list-style: none;
  padding: 8px;
  padding-top:0;
}
.vet-reply-view .actions-box li:first-child{
  padding-top: 8px;
}

.vet-reply-view .actions-box input {
  vertical-align: 1px;
}

.vet-reply-view .actions-box label {
  margin-left: 6px;
  font-weight: 400;
}

.vet-reply-view .description {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  min-height: 80px;
}

.vet-reply-view .saved-box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #E7F9FF;
  padding-top: 20px;
  font-size: 28px;
  display:none;
}

.vet-reply-view .options {
  border-top: 1px solid #ccc;
  padding: 8px;
}

.vet-reply-view .options .date {
  margin-right:10px;
}