<div class="start">Week of {{start_date}}</div>
<div class="count">{{active_user_count}}</div>
{{#if active_users}}
    <ul>
    {{#each active_users}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
{{/if}}