<div><div class="error-msg" style="
    font-size: 16px;
    color: #FF4C4C;
    display:none;
">Fields must not be empty</div>
<div class="modal-container">
    <div class="modal-label">Name of Community <span style="color:red">*</span></div>
    <input class="name-val" />
</div>
<div class="modal-container">
    <div class="modal-label">Description <span style="color:red">*</span></div>
    <textarea class="description-val"></textarea>
</div>
<div class="modal-container">
    <div class="modal-label">Guidelines</div>
    <textarea class="guidelines-val"></textarea>
</div>
<div class="modal-container">
    <div class="modal-label">Max Members (Defaults to 20)</div>
    <input class="members-val" style="width: 80px" />
</div>
<div style="
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: right;
"><button style="
    background-color: #4C62FF;
    border-radius: 4px;
    border: 0;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
">Submit</button></div></div>