
<div><div class="error-msg">Fields must not be empty</div>
<div class="modal-container">
    <div class="modal-label">Name of Challenge</div>
    <input class="challenge-name" />
</div>
<div class="modal-container">
    <div class="modal-label">Description</div>
    <textarea class="description-val"></textarea>
</div>
<div class="modal-container">
    <div class="modal-label">Instructions</div>
    <textarea class="instructions-val"></textarea>
</div>
<div class="modal-container">
    <div class="modal-label">URL Link to Challenge Background (Optional)</div>
    <input style="width:400px" class="background-link-val" placeholder="e.g. http:// or https://"/>
</div>
<div style="
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: right;
    margin-top:20px
"><button style="
    background-color: #4C62FF;
    border-radius: 4px;
    border: 0;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
">Submit</button></div></div>