<div class="response">
    <div><strong style="color: #919191">{{username}} replied:</strong>
        <div class="right-actions dropdown-container arrow-right" style="float: right;margin-top: 5px;">
            <a href="javascript:;" class="options">
                <i class="fa fa-ellipsis-h fa-lg"></i>
            </a>
            <div class="dropdown-arrow clearfix">
                <div class="arrow">
                </div>
                <div class="dropdown">
                    <ul>
                        <li><a href="javascript:;" class="report-reply">Report</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 2px #428bca;
    position: relative;
    margin-top: 4px
">
  <div style="padding:10px;
">{{description}}</div>
    {{#if challenge}}
        <div class="challenge-container" style="padding:10px;border-top:1px solid #ccc"></div>
    {{/if}}
    </div>
</div>