<div style="padding: 12px 12px;
    font-size: 18px;
    color: #00AA27;
    background-color: #ffffff;
    border-bottom: 1px solid #00AA27;">Challenges</div>
<div style="padding:10px;border-bottom:1px solid #ccc">
  <a href="javascript:;" class="add-challenge" style="font-size:18px;display:block">Add Challenge</a>
</div>
<div class="challenges"></div>