<div class="header" style="color:#57acf7; border-bottom-color:#57acf7">
  <div class="main-header">Communities</div>
</div>
<div class="clearfix">
  <a href="javascript:;" class="add-challenge btn btn-primary" style="font-size: 18px;
    display: block;
    margin-bottom: 12px;padding:10px 15px;float:left"><i class="fa fa-plus" style="margin-right:8px;vertical-align:-1px"></i>Add a New Community</a>
</div>
<div class="filter-view" style="background-color:#7ec3ff">
  Search: <input class="search-challenges" style="width: 200px; border: 1px solid #ccc;padding:4px;border-radius:4px" />
</div>
<div class="challenges"></div>