<div style="margin-bottom: 15px">
  <div class="header">
    Community Challenges
  </div>
  {{#if isCreator}}
  <div style="padding: 0 12px 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;">Let your members take on new challenges! Choose from a set of challenges, and pick the right ones for your community.</div>
  {{/if}}
  <div class="challenge-list">
  </div>
</div>