<div class="header" style="color:#57acf7; border-bottom-color:#57acf7">
  <div class="main-header">Communities</div>
</div>
<div style="padding:10px;">
  <a href="javascript:;" class="add-challenge" style="font-size:18px;display:block">Add Community</a>
</div>
<div class="filter-view" style="background-color:#7ec3ff">
  Search: <input class="search-challenges" style="width: 200px; border: 1px solid #ccc;padding:4px;border-radius:4px" />
</div>
<div class="challenges"></div>