<div style="padding: 12px 12px;
    font-size: 18px;
    color: #00AA27;
    background-color: #ffffff;
    border-bottom: 1px solid #00AA27;">Communities</div>
<div style="padding:10px;border-bottom:1px solid #ccc">
  <a href="javascript:;" class="add-challenge" style="font-size:18px;display:block">Add Community</a>
</div>
<div style="padding: 10px;border-bottom:1px solid #ccc">
  <input class="search-challenges" style="width: 200px; border: 1px solid #ccc;padding:4px;border-radius:4px" />
</div>
<div class="challenges"></div>