<div style="border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius:4px">
  <div style="
    border-bottom: 1px solid #ccc;
    padding: 8px 12px;
    color: purple;
    background-color: #f8ebff;">
    Community Challenges
  </div>
  {{#if isCreator}}
  <div style="
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;">Let your members take on new challenges! Choose from a set of challenges, and pick the right ones for your community.</div>
  {{/if}}
  <div class="challenge-list clearfix">
  </div>
</div>