<div class="message-tabs">
    <ul class="clearfix">
        <li class="entry selected">Entry</li>
        <li class="activity">Activity</li>
    </ul>
</div>
<div class="section clearfix">
    <div class="thought-container">
        <div class="clearfix header">
            <div class="timestamp">
                Written {{day}}
            </div>
        </div>
        <div class="thoughts-list"></div>
    </div>
    <div class="activity-container" style="display:none">
        <div class="header clearfix">
            <div class="timestamp">
                Activity for {{day}}
            </div>
        </div>
    </div>
</div>