<a href="javascript:;" class="write-entry" {{#if no_entries}}style="display:none"{{/if}}>Write entry</a>
<div class="entries-container" {{#if no_entries}}style="display:none"{{/if}}>
  <div class="header">My Entries</div>
</div>