{{#if filled}}
    <a href="javascript:;">{{date}}</a>
    <div class="colored-tabs">
    {{#each colored_tabs}}
        <div class="tab{{this}}"></div>
    {{/each}}
    </div>
{{else}}
    {{date}}
    <!--<i class="fa fa-plus"></i>-->
{{/if}}