<ul class="get-started">
  <li class="clearfix {{#if write_done}}done{{/if}}">
    <div class="number">1</div>
    <div class="desc">
      Write your first entry
    </div>
  </li>
  <li class="clearfix {{#if highlight_else_done}}done{{/if}}">
    <div class="number">2</div>
    <div class="desc">
      Highlight someone else's entry
    </div>
  </li>
  <li class="clearfix {{#if highlight_mine_done}}done{{/if}}">
    <div class="number">3</div>
    <div class="desc">
      Highlight a past entry
    </div>
  </li>
</ul>