<div class="guidelines">
  <div class="header">Guidelines</div>
  <ul>
    <li><span>Respond inline</span> (by highlighting entry text). <i>It’s like a pushup for your brain.</i></li>
    <li><span>Reflect</span></li>
    <li><span>Affirm</li>
    <li><span>Relate</span> by sharing your experience, and avoid giving advice.</li>
    <li><span>Inquire</span> with questions that lead to more ideas. (i.e. What made you feel that way?)</li>
  </ul>
</div>