<div class="level" id="level1">
    <img src="/images/header-img.jpg" />
</div>
<div class="level" id="level2">
    <div class="container">
        A community empowering people to figure out their own lives and live it
    </div>
    <div class="container">
        <div class="form-box">
            <span style="font-size:18px;display: block;line-height:15px">Enter your email for info and releases!</span>
            <input placeholder="e.g. you@email.com" />
            <button>SUBMIT</button>
            <span class="error-msg" style="font-size:18px;display: block;margin-top:6px;color:#FFB400"></span>
        </div>
    </div>
</div>
<div class="level" id="level3">
    <div class="popular-container">
        <div class="thought-row clearfix">
            <div class="message-top">
                Written <span class="with-author">by <strong>Anonymous</strong> • </span>15 hours ago
            </div>
            <div class="message clearfix">
                <div class="description selectable">
                    After admitting to my small group about feeling disempowered, I'm feeling much better now. I realized that if <span class="perm">the possibilities are so big, it doesn't matter if I get rejected. If it's gotta happen, then I gotta do it</span>. If anything, I remind myself of how I've been wanting to start a company for the last four years, and this is the trajectory I've had for myself for a long while. <span class="perm">I'm actually doing it</span>, based on everything I've doing so far. It doesn't matter how long it's taken or how much longer it'll take me. It doesn't help that I'm holding myself back. I've been needing to do this for a while.<br><br>

                    I'm at Philz coffee shop now. I finished writing a couple of Reddit responses; that's been good. I just tried to be truthful and not saying anything too forced. I think that's what's <span class="perm">burning me out</span>, when I have it down to a specific format. When it no longer feels like this big opportunity, but instead that it had just become so much work.<br><br>

                    I keep myself from going to the gym or playing ukulele, also. And I had felt impacted by Alejandro saying that I'm doing too many different things....
                </div>
            </div>
            <div class="replies">
                <ul class="replies-list">
                    <li class="reply-desc" style="top: 100px">
                        <div>
                            <p class="title">
                                <strong>Someone replied:</strong>
                            </p>
                            <p class="description">Just do it!!</p>
                        </div>
                    </li>
                    <li class="reply-desc" style="top: 220px">
                        <div>
                            <p class="title">
                                <strong>Someone replied:</strong>
                            </p>
                            <p class="description">Just do it!!</p>
                        </div>
                    </li>
                    <li class="reply-desc" style="top: 490px">
                        <div>
                            <p class="title">
                                <strong>Someone replied:</strong>
                            </p>
                            <p class="description">Just do it!!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--
    <div class="container">
        <div style="float: left" class="img">
            <img src="/images/cups-full.jpg" class="selected" />
            <img src="/images/cups-three.jpg" />
            <img src="/images/cups-half.jpg" />
            <img src="/images/cups-one.jpg" />
            <img src="/images/cups-empty.jpg" />
        </div>
        <div style="float: right" class="description">
            <div class="heading">Your shit's not going to get itself together.</div>
            <div>
                Happiness, confidence, success - they won't toss themselves into your lap, and there's no "one weird trick" that'll hand them to you. That's because what we really want differs for every person. You need to figure things out for yourself. But there's no need to do it alone. That's why we're here.
            </div>
        </div>
    </div>-->
</div>
<div class="level" id="level4">
    <div class="container">
        <div class="heading" style="font-size: 34px;text-align:center;margin-bottom:60px">
            Figure it out for yourself, not by yourself
        </div>
        <div style="float: left;" class="description">
            <div class="heading">
                The benefits of community
            </div>
            <div>
                <ul>
                    <li>Social connection is an important part of human development. It's powerful to know we aren't alone</li>
                    <li>Members can give you a new perspective on your situation and call you on your shit.</li>
                    <li>It's hard to self motivate. Let others help.</li>
                    <li>Helping others work through their shit sharpens the mental tools needed to work out your own.</li>
                </ul>
            </div>
        </div>
        <div class="img" style="float: right">
            <img src="/images/bed-full.jpg" class="selected" />
            <img src="/images/bed-three.jpg" />
            <img src="/images/bed-half.jpg" />
            <img src="/images/bed-one.jpg" />
            <img src="/images/bed-empty.jpg" />
        </div>
    </div>
</div>
<div class="level" id="level5">
    <div class="container">
        <div style="float: left;" class="description">
            <div class="heading">
                Why Get My Shit Together?
            </div>
            <div>
                <ul>
                    <li>Make your emotions a powerful tool instead of a backseat driver.</li>
                    <li>Define success for yourself; start feeling and being successful.</li>
                    <li>Be more motivated. Be more focused. Be more confident.</li>
                    <li>Communicate effectively and start getting what you need and want.</li>
                    <li>And in the end, just be a happier human being.</li>
                </ul>
            </div>
        </div>
        <div style="float:right;" class="description">
            <div class="heading">
                Why GetYourShitTogether.co?​
            </div>
            <div>
                <ul>
                    <li>Our community focuses entirely on personal growth, especially the area Mental Wellness. If you're dedicated to being happier, doing better, and fixing issues at their cause then we are for you.</li>
                    <li>We never tell you what to do. We only give you resources to help you decide for yourself.</li>
                    <li>Guides on effective communication help writers, readers and repliers learn from every post.</li>
                    <li>Supplemental resources focus on being clear, concise, and beneficial</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="level" id="level6">
    <div class="container clearfix">
        <div class="img" style="float: left">
            <img src="/images/posters-full.jpg" class="selected" />
            <img src="/images/posters-three.jpg" />
            <img src="/images/posters-half.jpg" />
            <img src="/images/posters-one.jpg" />
            <img src="/images/posters-empty.jpg" />
        </div>
        <div style="float: right" class="description">
            <div class="heading">
                Our Resources
            </div>
            <div>
                <ul>
                    <li>Guides to effective communication. Write replies that are beneficial to the reader and to your own mental habits.</li>
                    <li>Articles demystifying mental wellness and related practices.</li>
                    <li>Prompts crafted help you avoid stagnation</li>
                    <li>Extended resources to expose you to various helpful practices</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="level" id="level7">
    <div class="container">
        Enter your email for info and releases!
        <div class="form-box">
            <input placeholder="e.g. you@email.com" />
            <button>SUBMIT</button>
            <span class="error-msg" style="display: block;margin-top:6px;color:#E16E00"></span>
        </div>
    </div>
</div>
<div class="level" id="footer">
    <img src="/images/footer-logo.png" />
</div>
