<div class="head-container">
    <div class="container">
        <div class="description">Reflect on the important experiences in your life
        </div>
        <div class="subdescription">Write journal entries. Highlight pieces. Have better moments.</div>
        <div>
            <a href="javascript:;" class="btn">Learn More</a>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="container">
        <img src="/images/entry-example.png" style="width:300px; float:left;" />
        <div class="description-container">
            <div class="title">
                Write journal entries privately
            </div>
            <div class="description">
                See all your journal entries in one place, and view them from either the website or a mobile web browser. Know that only you will be able to view these entries and no one else. Organize your entries by tagging them with select keywords, and be able to categorize the unique experiences you may have.
            </div>
            <div class="title">
                Reflect on your entries
            </div>
            <div class="description">
                Once written, you may select and highlight text in your entries and make special comments based on your insights on that day. It's helpful to reflect on past experiences to give you an idea on what has worked and what you'd liked to do more of.
            </div>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="container">
        <div class="description-container">
            <div class="title">
                Track your annotations
            </div>
            <div class="description">
                Get a summary of all the annotations you've created over your past journal entries. See what new insights or perspectives you contribute.
            </div>
        </div>
        <img src="/images/annotation-example.png" style="float:left;width:400px;" />
    </div>
</div>
<div class="body-container">
    <div class="button-container">
        <a href="javascript:;" class="btn">Sign up now</a>
    </div>
</div>
<div class="footer-container">
</div>