<div class="head-container">
    <div class="container">
        <div class="description">
            Engage with your thoughts
        </div>
        <div class="subdescription">reflectupon is a community of people who write journal entries and share insights for personal empowerment.</div>
        <div style="
            margin-top: 40px;
            background-color: rgba(225,225,225,0.9);
            padding: 10px;
        ">
          <a href="http://screencast.com/t/eWVRPNHv" target="_blank">Watch a video demo</a>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="container">
        <img src="/images/entry-example.png" style="width:300px; float:left;" />
        <div class="description-container">
            <div class="title">
                Private and portable
            </div>
            <div class="description">
                On web and mobile browsers, it's easy to view your journal entries securely and privately. Write freely and expressively no matter where you are.
            </div>
            <div class="title">
                Select entries to share anonymously
            </div>
            <div class="description">
                Share your entries anonymously without your personal information visible. Neither will people be able to follow you. This creates a community with honest and insightful feedback to your individual entry.
            </div>
            <div class="title">
                Annotate when you know you need to
            </div>
            <div class="description">
                Highlight specific areas within your entries, when you're inspired with some new insights. Have a better idea about what has worked and what you'd liked to do more of.
            </div>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="container">
        <div class="description-container">
            <div class="title">
                Track your annotations
            </div>
            <div class="description">
                Get a summary of all the annotations you've created over your past journal entries. See what new insights or perspectives you contribute.
            </div>
        </div>
        <img src="/images/annotation-example.png" style="float:left;width:400px;" />
    </div>
</div><!--
<div class="body-container">
    <div class="button-container">
        <a href="javascript:;" class="btn">Sign up now</a>
    </div>
</div>-->
<div class="footer-container">
</div>