<div class="level" id="level1">
    <div class="background"></div>
    <div class="logo-container">
        <img src="/images/GET_big.png" />
        <img src="/images/YOUR_big.png" />
        <div class="rotater" style="display: inline-block">
            <img src="/images/HAPPINESS_big.png" class="selected" />
            <img src="/images/LOVE_big.png" class="next" />
            <img src="/images/MOTIVATION_big.png" />
            <img src="/images/PROBLEMS_big.png" />
            <img src="/images/SELF_big.png" />
            <img src="/images/STRESS_big.png" />
            <img src="/images/SUPPORT_big.png" />
        </div>
        <img src="/images/TOGETHER_big.png" />
    </div>
</div>
<div class="level" id="level2">
    <div class="container">
        A community empowering people to figure out their own lives and live it
    </div>
    <div class="container">
        <div class="form-box">
            <button class="sign-up-btn">Sign Up</button>
        </div>
    </div>
</div>
<div class="level" id="level3">
    <div class="container" style="padding-top:60px;color:#fff;">
        <div style="font-size:24px;text-align:center;margin-bottom:12px">How do you put your mind at ease?</div>
        <div style="font-size:18px;margin:0 auto;max-width:600px;width:100%;text-align:center">Everyone has their own individual needs with no idea what it takes to be happy or to be yourself. With your commitment to see what's available, let our community guide you through your worries.</div>
    </div>
    <div class="popular-container">
        <div class="thought-row clearfix">
            <div class="message-top">
                Written <span class="with-author">by <strong>Anonymous</strong> • </span>15 hours ago
            </div>
            <div class="message clearfix">
                <div class="description selectable">
                    I'm at a coffee shop now. I finished establishing my portfolio and website; that's been good. I just tried to go with what makes sense to me. Obviously, it could be better. I think that's what <span class="perm" id="perm1">burns me out, when I do all these little tasks</span>, and I don't know if what I'm doing actually benefits me in the long run. It's important just to reflect on all this.<span class="extended-2"><br /><br />

                    I spent the last day feeling sad and disappointed. After having talked with my best friend about it, I can tell that I'm feeling much better now. I realize that <span class="perm" id="perm2">I have some big goals in place. It doesn't matter if I get rejected</span>.</span><span class="extended"><br /><br />

                    I remind myself of how I've been wanting to be an artist for the last four years, and this is the trajectory I've had for myself for a long while. <span class="perm" id="perm3">I'm actually doing it</span>, based on everything I've doing so far. It doesn't matter how long it's taken or how much longer it'll take me. It doesn't help that I'm holding myself back. I've been needing to do this for a while.</span>
                </div>
            </div>
            <div class="replies">
                <ul class="replies-list">
                    <li id="reply1" class="reply-desc" style="top: 70px">
                        <div>
                            <p class="title">
                                <strong><span style="color:#008FBF">togepi75</span> replied:</strong>
                            </p>
                            <p class="description">It's hard to get focused in an endless sea of tasks without a light at the end of the tunnel. Always good to know where that light is.</p>
                        </div>
                    </li>
                    <li id="reply2" class="reply-desc extended-2" style="top: 250px">
                        <div>
                            <p class="title">
                                <strong><span style="color:#008FBF">Mabel</span> replied:</strong>
                            </p>
                            <p class="description">You got this! You're on a roll!</p>
                        </div>
                    </li>
                    <li id="reply3" class="reply-desc extended" style="top: 400px">
                        <div>
                            <p class="title">
                                <strong><span style="color:#008FBF">crystal_gem</span> replied:</strong>
                            </p>
                            <p class="description">I've been there myself where I'd just think and think all the time. Great to hear you're taking steps to get where you want!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--
    <div class="container">
        <div style="float: left" class="img">
            <img src="/images/cups-full.jpg" class="selected" />
            <img src="/images/cups-three.jpg" />
            <img src="/images/cups-half.jpg" />
            <img src="/images/cups-one.jpg" />
            <img src="/images/cups-empty.jpg" />
        </div>
        <div style="float: right" class="description">
            <div class="heading">Your shit's not going to get itself together.</div>
            <div>
                Happiness, confidence, success - they won't toss themselves into your lap, and there's no "one weird trick" that'll hand them to you. That's because what we really want differs for every person. You need to figure things out for yourself. But there's no need to do it alone. That's why we're here.
            </div>
        </div>
    </div>-->
</div>
<div class="level" id="level4">
    <div class="container">
        <div class="heading" style="font-size: 34px;text-align:center;margin-bottom:60px">
            Figure it out for yourself, not by yourself
        </div>
        <div style="float: left;" class="description">
            <div class="heading">
                The benefits of community
            </div>
            <div>
                <ul>
                    <li>Social connection is an important part of human development. It's powerful to know we aren't alone</li>
                    <li>Members can give you a new perspective on your situation and call you on your shit.</li>
                    <li>It's hard to self motivate. Let others help.</li>
                    <li>Helping others work through their shit sharpens the mental tools needed to work out your own.</li>
                </ul>
            </div>
        </div>
        <div class="img" style="float: right">
            <img src="/images/bed-full.jpg" class="selected" />
            <img src="/images/bed-three.jpg" />
            <img src="/images/bed-half.jpg" />
            <img src="/images/bed-one.jpg" />
            <img src="/images/bed-empty.jpg" />
        </div>
    </div>
</div>
<div class="level" id="level5">
    <div class="container">
        <div style="float: left;" class="description">
            <div class="heading">
                Why Get My Shit Together?
            </div>
            <div>
                <ul>
                    <li>Make your emotions a powerful tool instead of a backseat driver.</li>
                    <li>Define success for yourself; start feeling and being successful.</li>
                    <li>Be more motivated. Be more focused. Be more confident.</li>
                    <li>Communicate effectively and start getting what you need and want.</li>
                    <li>And in the end, just be a happier human being.</li>
                </ul>
            </div>
        </div>
        <div style="float:right;" class="description">
            <div class="heading">
                Why GetYourShitTogether.co?​
            </div>
            <div>
                <ul>
                    <li>Our community focuses entirely on personal growth, especially the area Mental Wellness. If you're dedicated to being happier, doing better, and fixing issues at their cause then we are for you.</li>
                    <li>We never tell you what to do. We only give you resources to help you decide for yourself.</li>
                    <li>Guides on effective communication help writers, readers and repliers learn from every post.</li>
                    <li>Supplemental resources focus on being clear, concise, and beneficial</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="level" id="level6">
    <div class="container clearfix">
        <div class="img" style="float: left">
            <img src="/images/posters-full.jpg" class="selected" />
            <img src="/images/posters-three.jpg" />
            <img src="/images/posters-half.jpg" />
            <img src="/images/posters-one.jpg" />
            <img src="/images/posters-empty.jpg" />
        </div>
        <div style="float: right" class="description">
            <div class="heading">
                Our Resources
            </div>
            <div>
                <ul>
                    <li>Guides to effective communication. Write replies that are beneficial to the reader and to your own mental habits.</li>
                    <li>Articles demystifying mental wellness and related practices.</li>
                    <li>Prompts crafted help you avoid stagnation</li>
                    <li>Extended resources to expose you to various helpful practices</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="level" id="level7">
    <div class="container">
        Sign up below to get started!
        <div class="form-box">
            <button class="sign-up-btn">Sign Up</button>
        </div>
    </div>
</div>
<div class="level" id="footer">
    <img src="/images/footer-logo.png" />
</div>
