<div class="head-container">
    <div class="container">
        <div class="description">
            Insights specific to your experiences
        </div>
        <div class="subdescription">reflectupon is a community of people who write journal entries and share insights for personal empowerment.</div>
        <div style="
            margin-top: 40px;
            background-color: rgba(225,225,225,0.9);
            padding: 10px;
        ">
          <a href="http://screencast.com/t/eWVRPNHv" target="_blank">Watch a video demo</a>
        </div>
    </div>
</div>
<div class="mission-container">
    <div class="container">
        <ul>
            <li>
                <div class="title">What is Reflectupon?</div>
                <div class="description">
                    Reflectupon is a platform where people express themselves to find the will to move forward in their lives. These journal entry writers selectively share their entries anonymously and freely with a personal empowerment focused community of repliers, who provide their own insights to relate and provide support.
                </div>
            </li>
            <li>
                <div class="title">What if I don't write journal entries?</div>
                <div class="description">
                    Reflectupon works best for people who record and reflect on their own entries and are looking for a feedback loop. However, if you don't feel like writing your own entries, feel free to give your thoughts to entries that haven't received any feedback. 
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="title">Won't people write negative replies to my entries?</div>
                <div class="description">
                    We're very focused to provide the best supportive replies to our users. All replies and anonymously shared journal entries are individually vetted.
                </div>
            </li>
            <li>
                <div class="title">How do I reply to the entries on here?</div>
                <div class="description">
                    Specific feedback can be given to specific areas of a journal entry. By highlighting journal entries on the website, a tooltip will show up allowing you to write your reply and submit.
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="body-container">
    <div class="container">
        <div class="frame-one clearfix" style="margin-bottom:40px">
            <div class="description-container">
                <div class="title">
                    Private and portable
                </div>
                <div class="description">
                    On web and mobile browsers, it's easy to view your journal entries securely and privately. Write freely and expressively no matter where you are.
                </div>
                <div class="title">
                    Annotate when necessary
                </div>
                <div class="description">
                    Highlight specific areas within your entries, when you're inspired with some new insights. Have a better idea about what has worked and what you'd liked to do more of.
                </div>
            </div>
            <div class="image-container">
                <img src="/images/private-reply.png" />
            </div>
        </div>
        <div class="frame-two clearfix">
            <div class="description-container">
                <div class="title">
                    Select entries to share anonymously
                </div>
                <div class="description">
                    Share your entries anonymously - no one will follow you, they'll only see your entry in its entirety. This creates a community with honest and insightful feedback to your individual entry.
                </div>
            </div>
            <div class="image-container">
                <img src="/images/anonymous-reply.png" />
            </div>
        </div>
    </div>
</div><!--
<div class="body-container">
    <div class="button-container">
        <a href="javascript:;" class="btn">Sign up now</a>
    </div>
</div>-->
<div class="footer-container">
</div>