<div class="module">
  <div class="header">Welcome to Heros!</div>
  <div style="padding: 10px">Check out your first challenge:</div>
  <div class="challenge-container" style="padding: 10px"></div>
</div>