<div class="module" style="border-color:rgba(128, 0, 128, 0.68)">
  <div class="header" style="border-bottom-color:rgba(128, 0, 128, 0.68);
    text-align: center;
    font-size: 26px;">Welcome to Heros!</div>
  <div style="padding: 10px;font-size:18px;color:purple">
      <div style="margin-bottom:15px">
        Heros is a website for doing awesome things in community. It looks like you're not part of any communities yet. Let's change that!
      </div>
      <a data-track="welcome-communities" href="/communities" style="display:block;margin-bottom:15px">Find Your First Community!</a>
      <div style="margin-bottom:15px">
        Feeling shy? The communities here are warm and welcoming, but if you're feeling active, you can jump into some challenges right away.
      </div>
      <a data-track="welcome-challenges" href="/challenges" style="margin-bottom:15px">Find Your First Challenge!</a>
  </div>
</div>