
<h1>Welcome to <span style="color:#ffd53b">heros</span>!</h1>
<div style="margin-bottom:20px;font-size:16px;border-bottom:1px solid #ccc;padding-bottom:10px">Select the communities that you are interested in.</div>
<div class="communities-container">
</div>

<button type="button" class="btn btn-primary" style="margin-top:15px">Join Communities and Proceed to Home page</button>