<div class="module" style="border-color:rgba(128, 0, 128, 0.68)">
  <div class="header" style="border-bottom-color:rgba(128, 0, 128, 0.68)">Welcome to Heros!</div>
  <div style="padding: 10px">Check out your first challenge:</div>
  <div class="challenge-container" style="padding: 10px"></div>
</div>