<a href="javascript:;" class="more-recent hidden">More Recent</a>
<a href="javascript:;" class="go-to-write hidden">Write a reflection</a>
<a href="javascript:;" class="less-recent hidden">Less Recent</a>
<a href="javascript:;" class="go-to-journal">See your entries</a>