{{#contains types "more-recent"}}
  <a href="javascript:;" class="more-recent">More Recent</a>
{{/contains}}
{{#contains types "write-reflection"}}
  <a href="javascript:;" class="go-to-write">Write a reflection</a>
{{/contains}}
{{#contains types "less-recent"}}
  <a href="javascript:;" class="less-recent">Less Recent</a>
{{/contains}}
{{#contains types "see-entries"}}
  <a href="javascript:;" class="go-to-journal">See your entries</a>
{{/contains}}