<div class="write-reply-container reply-popover">
    <div class="clearfix" style="margin-bottom:4px">
        <i class="fa fa-times" style="cursor:pointer;float:right" />
    </div>
    <textarea class="write-reply-textarea" style="padding: 4px; display:block"></textarea>
    <div class="submit-footer clearfix" style="margin-top:8px">
        <input id="enter-submit" type="checkbox" checked="checked">
        <label for="enter-submit">Pressing <strong>Enter</strong> submits</label>
        <button id="submit-reply" type="button" class="btn btn-primary" style="float:right">Submit</button>
    </div>
</div>