<div class="write-reply-container reply-popover">
    <div class="clearfix" style="margin-bottom:4px">
        <i class="fa fa-times" style="cursor:pointer;float:right" />
    </div>
    <textarea class="write-reply-textarea" style="padding: 4px; display:block"></textarea>
    <div class="privacy-state clearfix">
        <div style="float:left;">
          Reply as <span id="show-username">{{username}}</span><span id="show-anon" style="display:none">Anonymous</span>
        </div>
        <div style="float:right;">
            <input type="checkbox" id="write-anon">
            <label for="write-anon">Write anonymously</label>
        </div>
    </div>
    <div class="submit-footer clearfix" style="margin-top:8px">
        <button id="submit-reply" type="button" class="btn btn-primary" style="float:right">Submit</button>
    </div>
</div>