<div class="reply-popover">
    <div class="clearfix" style="margin-bottom:4px">
        <i class="fa fa-times" style="cursor:pointer;float:right" />
    </div>
    <textarea style="padding: 4px; display:block"></textarea>
    <div class="clearfix" style="margin-top:8px">
        <button type="button" class="btn btn-primary" style="float:right">Submit</button>
    </div>
</div>