<div class="postbox-two clearfix">
    <p>How do you feel now? Please write as freely as you feel.</p>
    <textarea class="postbox-description" rows="10"></textarea>
    <div class="privacy-action">
        <input type="checkbox" />Mark as Private (Reflections default to Anonymous)
    </div>
    <button type="button" class="btn btn-primary postbox-send">Create reflection</button>
</div>
<div class="postbox-options">
    <p>Using the freewrite you just wrote, write a poem. It's important to recognize the feelings that you felt.</p>
    <p>Any kind qualifies! Why not try writing a haiku? Please use <a href="http://poetrytherapy.org/">http://poetrytherapy.org/</a> as an example</p>

    <textarea class="form-control" rows="3" id="expression-field"></textarea>
    <button type="button" class="btn btn-primary postbox-submit">Create reflection</button>
</div>