<div style="font-size:24px;color:#00AA27;border-bottom:1px solid #00AA27;padding:10px">{{username}}</div>
<div style="padding:10px">
<div style="font-size: 18px;color:#999" class="clearfix intention-header">
  <div style="float:left;">INTENTION</div>
  <div style="float:left;margin-left:20px;text-align:right;margin-top:-2px">
    <a href="javascript:;">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
</div>
<div class="intention-container">
  "{{intention}}"
</div>
<div class="edit-intention-container" style="display:none">
  <textarea style="border: 1px solid #ccc;width:100%;margin-bottom:10px">{{intention}}</textarea>
  <button class="btn btn-primary">Change</button>
</div>