<div style="padding:10px;">
  <div style="font-size:18px;margin-bottom:8px;color:red">Prompt</div>
  <div style="margin-bottom: 10px">{{description}}</div>
  <button class="btn btn-primary">Answer Prompt</button>
</div>