<div class="notice">You wrote your journal entry for today! Now here's an entry from some time ago.</div>
<div class="body-container">
  <div class="header">Recommended for You Today</div>
  <div class="description selectable">{{{description}}}</div>
  {{#if read_more_button}}
    <div class="read-more-container">
      <a href="javascript:;" class="read-more">Read More</a>
    </div>
  {{/if}}
</div>