<div class="notice">You wrote your journal entry for today! Now here's an entry from some time ago.</div>
<div class="body-container">
  <div class="header">Recommended for You Today</div>
  <div class="description">{{description}}</div>
</div>