<div class="notice">You wrote your journal entry for today! Help a friend and give feedback for their entry.</div>
<div class="body-container clearfix">
  <div class="header">Recommended for You Today</div>
  <div class="description selectable">{{{description}}}</div>
  <div class="replies">
      {{#each replies}}
          <div class="reply-desc">{{description}}</div>
      {{/each}}
  </div>
  {{#if read_more_button}}
    <div class="read-more-container">
      <a href="javascript:;" class="read-more">Read More</a>
    </div>
  {{/if}}
</div>
