<div>
    <div>
        <p class="title"><strong>{{#if is_author}}You{{else}}Someone{{/if}} replied:</strong></p>
        <p class="description">{{ description }}</p>
    </div>
    <div>{{!-- 
    {{#if thanked}}
        {{#if is_author}}
            <span>You were thanked!</span>
        {{else}}
            <a href="javascript:;" class="action">
                <i class="fa fa-heart"></i>
            </a>
        {{/if}}
    {{else}}
        {{#if can_reply}}
            <a href="javascript:;" class="action">
                <span>Thank replier</span>
                <i class="fa fa-heart-o"></i>
            </a>
        {{/if}}
    {{/if}}
    <a href="javascript:;" class="make-public {{#if is_public}}hidden{{/if}}">
        Make Public
    </a>
    <span class="public {{#unless is_public}}hidden{{/unless}}">
        Public
    </span> --}}
    </div>