<div class="section" style="background-color: #fff; padding: 20px;">
  <div style="padding-bottom:8px;">Use this e-mail address to send your journal posts to inbound[at]reflectupon.net</div>
  <div>
    derb@derb.com
  </div>
</div>
