<ul>
  <li class="notif-options">
    <div>Username</div>
    <div style="margin-bottom: 10px">
      <div class="display-name">
        <span>{{username}} </span><a href="javascript:;" class="change-username"><i data-track="edit-username" class="fa fa-pencil box"></i></a>
      </div>
      <div class="edit-name" style="display:none">
        <input placeholder="{{username}}" /><a data-track="submit-username" href="javascript:;" class="submit-username"><i class="fa fa-check box"></i></a>
      </div>
      <div class="error-msg" style="display:none;background-color:#ccc;margin-top:8px;border-radius:4px;padding:10px;">Username already exists.</div>
    </div>
    <div>Notifications</div>
    <div style="font-size: 14px">Receive e-mails:</div>
    <div style="margin-left: 20px">
      <input id="email-prompts" type="checkbox" {{#if email_prompts}}checked="checked"{{/if}}>
      <label for="email-prompts">For journal prompts</label>
    </div>
    <div style="margin-left: 20px">
      <input id="email-replies" type="checkbox" {{#if email_reply}}checked="checked"{{/if}}>
      <label for="email-replies">For replies</label>
    </div>
    <div style="margin-left: 20px">
      <input id="email-thanks" type="checkbox" {{#if email_thanks}}checked="checked"{{/if}}>
      <label for="email-thanks">When thanked</label>
    </div>
  </li>
  <li class="logout">
    <a target="_blank" href="http://ourdisclaimer.com/?i=heroslive.com" style="float:left">
      Disclaimer
    </a>
    <a class="icon" href="/logout">
        Log out
    </a>
  </li>
</ul>
<!--<div class="section" style="background-color: #fff; padding: 20px;">
  <div style="padding-bottom:8px;">Use this e-mail address to send your journal posts to inbound[at]reflectupon.net</div>
  <div>
    derb@derb.com
  </div>
</div>-->