  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span style="color:#00AA27">Beta</span> Sign up</h4>
      </div>
      <div class="modal-body">
        {{#if message}}
            <div class="special-msg">{{ message }}</div>
        {{/if}}
        <div class="form-container login-form">
            <form id="register-form" action="/register" method="post">
                <div class="form-group" id="username-field">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username"/>
                    <span class="error"></span>
                </div>
                <div class="form-group" id="email-field">
                    <label>E-mail</label>
                    <input class="form-control" type="text" name="email"/>
                    <span class="error"></span>
                </div>
                <div class="form-group" id="password-field">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password"/>
                    <span class="error"></span>
                </div>
                <div class="form-group" id="confirm-password-field">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password"/>
                    <span class="error"></span>
                    <br/>
                </div>
                <div class="submit-box clearfix">
                    <input type="submit" value="Register"/>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>