<div id="single-thought">
    <div class="section" id="main-thought">
        <div class="container">
            {{#if title}}<div class="title">{{title}}</div>{{/if}}
            <div>{{ description }}</div>
        </div>
        {{#if description2 }}
            <div class="full-thought">
                <span>{{ description2 }}</span>
                <div class="show-thought"><a href="javascript:;">Show full reflection</a></div>
            </div>
        {{/if}}
    </div>
    <div class="clearfix">
        <div class="section container write-reply">
            <textarea></textarea>
            <div class="write-footer clearfix">
                <button class="btn submit-reply">Submit reply</button>
            </div>
        </div>
        <div class="actions">
            <p>For more like this...</p>
            <a href="javascript:;" class="btn">Follow this user</a>
            <a href="javascript:;" class="report">or Report as Inappropriate</a>
        </div>
    </div>
</div>