<ul>
  <li class="actives">Actives</li>
  <li class="featured">Featured</li>
  <li class="vet">Vet Thoughts</li>
  <li class="vet-replies">Vet Replies</li>
  <li class="tags">Tags</li>
  <li class="users">Users</li>
  <li class="prompts">Prompt</li>
</ul>