<div class="heading">You just highlighted:</div>
<div class="description">{{ annotation }}</div>
<div class="heading">Create your reflection based off of your highlight:</div>
<textarea class="reflection"></textarea>
<button class="btn submit">Write reflection</button>