<div style="padding: 12px 8px;border-bottom: 1px solid #ccc;">
  <a href="javascript:;" class="send-email">Send E-mail</a>
  <div>
    Send to non-user
    <input class="non-user-email" type="text" /><button class="send-email-indl" style="
    padding: 2px;
    background-color: #D7D7D7;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    margin-left: 8px;
    height: 24px;">Submit</button>
  </div>
</div>
<div class="users-table">
</div>