<div class="description" {{#if flaggedBy.length}}style="background-color: #ccc"{{/if}}>{{breaklines description}}</div>
<div class="options">
  <span class='num-replies'>{{replies.length}}</span>
  <span class="date">{{date}}</span>
  <a href="javascript:;" class="delete">Delete</a>
  <a href="javascript:;" class="set-private">Set Private</a>
  <a href="javascript:;" class="feature">
    {{#if feature}}Don't Feature{{else}}Feature{{/if}}
  </a>
</div>