<div class="write-reply">
    <div class="sender-header">My Reply</div>
    <div class="write-field">
        <textarea class="write-reply-textarea" placeholder="Write your reply" style="resize: none;"></textarea>
    </div>
    <div class="submit-footer clearfix">
        <input id="enter-submit" type="checkbox" checked="checked">
        <label for="enter-submit">Pressing <strong>Enter</strong> submits</label>
        <button id="submit-reply" type="button" class="btn btn-primary" style="float:right">Submit</button>
    </div>
</div>