<div class="prompt">
    <i class="fa fa-lightbulb-o" style="font-size: 38px;float: left;"></i>
    <div style="
        padding-left: 33px;
    ">
        <div>Write an entry every day, and for each entry you write, you'll get someone else's entry in return.</div>
    </div>
</div>
<div class="section">
<div class="header clearfix">
    Today's Entry
</div>
<div class="message clearfix">
    <div class="description">
        <textarea placeholder="Write freely about how you feel."></textarea>
    </div>
</div>
<div class="footer clearfix">
    <div class="clearfix options">
        <div class="anon-input">
            <input type="checkbox" id="share-anonymously"/>
            <label for="share-anonymously">Share anonymously</label>
        </div>
        <button type="button" class="btn btn-default link">
            <i class='fa fa-link fa-lg' title='Add Link'></i>
        </button>
        <button type="button" class="btn btn-default tag">
            <i class='fa fa-tag fa-lg' title='Add Tags'></i>
        </button>
        <input class='add-link hidden' placeholder="Given a URL you include here... (add 'http')" />
    </div>
    <div class="tags-container"></div>
    <button type="button" class="btn btn-primary create">Create entry</button>
</div>
</div>