{{#if prompt}}
<div class="journal-prompt">
    <div class="header">
        {{day}}'s Prompt of the Day
    </div>
    <div class="description" id="{{prompt.id}}">
            {{prompt.description}}
    </div>
</div>
{{/if}}
<div class="section">
<div class="header clearfix">
    Today's Entry
</div>
<div class="message clearfix">
    <div class="description">
        <textarea placeholder="In the present moment, write freely about your thoughts and feelings, or use the prompt above."></textarea>
    </div>
</div>
<div class="reflect-challenge-box" style="
    border-top: 1px solid #F5F5F5;
    margin:  0 12px;
    padding: 8px 0;
"><div class="reflect-on"></div><a href="javascript:;" class="reflect-challenge">Reflect on a past challenge</a></div>
<div class="footer clearfix">
    <div class="clearfix options">
        <div class="anon-input">
            <input type="checkbox" id="share-anonymously"/>
            <label for="share-anonymously">Share anonymously</label>
        </div>
        <button type="button" class="btn btn-default link">
            <i class='fa fa-link fa-lg' title='Add Link'></i>
        </button>
        <button type="button" class="btn btn-default tag">
            <i class='fa fa-tag fa-lg' title='Add Tags'></i>
        </button>
        <input class='add-link hidden' placeholder="Given a URL you include here... (add 'http')" />
    </div>
    <div class="tags-container"></div>
    <div class="submit-options">
        <div class="prompt-input">
            <input type="checkbox" id="using-prompt"/>
            <label for="using-prompt">Using Today's Prompt</label>
        </div>
        <button type="button" class="btn btn-primary create">Create entry</button>
    </div>
</div>
</div>