<div class="prompt">
    <i class="fa fa-bell" style="font-size: 38px;float: left;"></i>
    <div style="
        padding-left: 55px;
    ">
        <div>
            <span style="font-size: 22px">A Big Welcome and Thank You Beta Users!</span><br /><br />

Write freely about your thoughts, get responses, think them through, and repeat.
Read other writings, respond by line (via highlighting) or by post, and learn from your own words
Try to avoid advice - we’re not here to tell each other what to do
Instead, affirm what’s been said, relate through experience, and ask questions that lead to more ideas</div>
    </div>
</div>
<div class="section">
<div class="header clearfix">
    Today's Entry
</div>
<div class="message clearfix">
    <div class="description">
        <textarea placeholder="Write freely about how you feel."></textarea>
    </div>
</div>
<div class="footer clearfix">
    <div class="clearfix options">
        <div class="anon-input">
            <input type="checkbox" id="share-anonymously"/>
            <label for="share-anonymously">Share anonymously</label>
        </div>
        <button type="button" class="btn btn-default link">
            <i class='fa fa-link fa-lg' title='Add Link'></i>
        </button>
        <button type="button" class="btn btn-default tag">
            <i class='fa fa-tag fa-lg' title='Add Tags'></i>
        </button>
        <input class='add-link hidden' placeholder="Given a URL you include here... (add 'http')" />
    </div>
    <div class="tags-container"></div>
    <button type="button" class="btn btn-primary create">Create entry</button>
</div>
</div>