<% include header %>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startChallengesPage({
          settings: <%- settings %>,
          user:     <%- user %>,
          challenges: <%- challenges %>,
          prompts: <%- prompts %>
        });
    }) 
    </script>

<% include footer %>