<% include header %>
    <div id="container">
      <div class="side-view-container"></div>
      <div class="main-view-container">
        <div class="module" style="padding: 15px">
          <div style="margin-bottom: 20px; font-size: 24px"><%= challenge.title %></div>
          <div style="margin-bottom: 20px"><%= challenge.description %></div>
          <div><%= challenge.instructions %></div>
        </div>
      </div>
    </div>

<% include footer %>