<% include header %>
    <div id="container" class="communities-page"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startCommunitiesPage({
          settings: <%- settings %>,
          user:     <%- user %>,
          communities: <%- communities %>,
          myChallenges: <%- myChallenges %>
        });
    }) 
    </script>

<% include footer %>