<% include header %>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startCommunitiesPage({
          settings: <%- settings %>,
          user:     <%- user %>,
          communities: <%- communities %>
        });
    }) 
    </script>

<% include footer %>