<html>
  <head>
    <title>reset password</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper clearfix">
      <div class="index-container">
        <form method="POST" action="/reset">
          <div class="form-container reset-password-form">
            <div class="row-container clearfix">
              <label>new password</label>
              <input class="input" type="password" name="password">
            </div>
            <div class="row-container clearfix">
              <label>confirm password</label>
              <input class="input" type="password" name="confirm">
            </div>
            <div class="row-container clearfix">
              <input type="submit" value="reset password">
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>