<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>reflectupon | an online journaling support community</title>

    <link href="//fonts.googleapis.com/css?family=Merriweather:300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link type="text/css" href="/css/third-party/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/jquery.tooltip.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link type="text/css" href="/css/single.css" rel="stylesheet" />
    <link type="text/css" href="/css/superuser.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/third-party/jquery.min.js"></script>
    <script type="text/javascript" src="/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/js/third-party/backbone.min.js"></script>
    <script type="text/javascript" src="/bower_components/backbone.paginator/lib/backbone.paginator.min.js"></script>
    <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.scrollspy.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.highlight.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/js/third-party/handlebars.js"></script>

    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/models.js"></script>
    <script type="text/javascript" src="/js/templates.js"></script>
    <script type="text/javascript" src="/js/views/common_views.js"></script>
    <script type="text/javascript" src="/js/views/views.js"></script>
    <script type="text/javascript" src="/js/views/home.js"></script>
    <script type="text/javascript" src="/js/views/sidebar.js"></script>
    <script type="text/javascript" src="/js/views/single.js"></script>
    <script type="text/javascript" src="/js/views/index.js"></script>
    <script type="text/javascript" src="/js/views/thoughts.js"></script>
    <script type="text/javascript" src="/js/views/common/thoughts.js"></script>
    <script type="text/javascript" src="/js/views/replies.js"></script>
    <script type="text/javascript" src="/js/views/journal/DayView.js"></script>
    <script type="text/javascript" src="/js/views/journal/PaginationView.js"></script>
    <script type="text/javascript" src="/js/views/reports/reports.js"></script>
    <script type="text/javascript" src="/js/views/superuser/superuser.js"></script>
    <script type="text/javascript" src="/js/controllers/journal.js"></script>
    <script type="text/javascript" src="/js/controllers/reports.js"></script>
    <script type="text/javascript" src="/js/controllers/settings.js"></script>
    <script type="text/javascript" src="/js/controllers/superuser.js"></script>
    <script type="text/javascript" src="/js/controllers/controller.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
    </script>
</head>
<body <% if (landing_page) { %> class="landing-page"<% } %> >
<% if (topBar) { %>
<% include topbar %>
<% } %>
    <div class="wrapper clearfix">