<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>reflectupon | an online journaling support community</title>

    <link href="//fonts.googleapis.com/css?family=Merriweather:300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link type="text/css" href="/css/third-party/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/jquery.tooltip.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link type="text/css" href="/css/single.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/third-party/jquery.min.js"></script>
    <script type="text/javascript" src="/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/js/third-party/backbone.min.js"></script>
    <script type="text/javascript" src="/bower_components/backbone.paginator/lib/backbone.paginator.min.js"></script>
    <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.scrollspy.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.highlight.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/js/third-party/handlebars.js"></script>

    <script type="text/x-handlebars-template" id="index-template">
        <div class="background"></div>
        <div class="background-overlay"></div>
        <div class="head-content">
            <div class="container">
                <div class="title">reflectupon</div>
                <div class="description">An interactive journal for recording and analyzing your thoughts and experiences.</div>
                <div>
                    <a href="javascript:;" class="btn">Get started</a>
                </div>
            </div>
        </div>
        <div class="feed-content col-md-6">
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Log In</h4>
              </div>
              <div class="modal-body">
                {{#if message}}
                    <div class="special-msg">{{ message }}</div>
                {{/if}}
                <div class="form-container login-form">
                    <form id="login-form" action="/login" method="post" role="form">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mail or Username</label>
                            <input class="form-control" type="text" name="username"/>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password"/>
                        </div>
                        <div class="submit-box">
                            <input type="submit" value="Log in"/>
                        </div>
                        <div class="forgot-password-container">
                            <a href="javascript:;" class="forgot-password">Forgot your password?</a>
                        </div>
                    </form>
                    <div class="or-register">or <a href="javascript:;">Register</a></div>
                    <form id="register-form" action="/register" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" name="username"/>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password"/>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="email"/><br/>
                        </div>
                        <div class="submit-box clearfix">
                            <input type="submit" value="Register"/>
                        </div>
                    </form>
                    <div class="or-login">or <a href="javascript:;">Log In</a></div>
                    <form id="forgot-password" action="/forgot" method="post">
                        <div class="row-container clearfix">
                            Forgot your password?
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" name="email" />
                        </div>
                        <div class="submit-box clearfix">
                            <input type="submit" value="Retrieve"/>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    </script>
    <script type="text/x-handlebars-template" id="home-template">
        <div class="write-container"></div>
        <div class="thought-container"></div>
        <div class="pagination-container"></div>
    </script>
    <script type="text/x-handlebars-template" id="nag-template">
        <div class="header clearfix">
            <a href="javascript:;" class="close">
                <i class="fa fa-times" style="margin-left:-1px"></i>
            </a>
        </div>
        <div class="message">{{copy}}</div>
    </script>
    <script type="text/x-handlebars-template" id="recommended-template">
        <!--<div class="description">Recommended for you</div>
        <div class="rec-thought-container"></div>-->
    </script>
    <script type="text/x-handlebars-template" id="recommended-item-template">
        <!--<div class="date">Written {{ duration }}</div>
        <div class="rec-thought-container"></div>-->
    </script>
    <script type="text/x-handlebars-template" id="pagination-template">
        <a href="javascript:;" class="more-recent hidden">More Recent</a>
        <a href="javascript:;" class="go-to-write hidden">Write a reflection</a>
        <a href="javascript:;" class="less-recent hidden">Less Recent</a>
        <a href="javascript:;" class="go-to-journal">See your entries</a>
    </script>
    <script type="text/x-handlebars-template" id="postbox-template">
        <div class="postbox-two clearfix">
            <p>How do you feel now? Please write as freely as you feel.</p>
            <textarea class="postbox-description" rows="10"></textarea>
            <div class="privacy-action">
                <input type="checkbox" />Mark as Private (Reflections default to Anonymous)
            </div>
            <button type="button" class="btn btn-primary postbox-send">Create reflection</button>
        </div>
        <div class="postbox-options">
            <p>Using the freewrite you just wrote, write a poem. It's important to recognize the feelings that you felt.</p>
            <p>Any kind qualifies! Why not try writing a haiku? Please use <a href="http://poetrytherapy.org/">http://poetrytherapy.org/</a> as an example</p>

            <textarea class="form-control" rows="3" id="expression-field"></textarea>
            <button type="button" class="btn btn-primary postbox-submit">Create reflection</button>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="new-frequency-template">
        <div class="description">Anonymous reflections you have made</div>
        <ul class="new-frequency clearfix"></ul>
    </script>
    <script type="text/x-handlebars-template" id="frequency-template">
        <!--<button type="button" class="btn btn-primary create"><i class="fa fa-plus-square" style="margin-right:6px"></i>Write a reflection</button>-->
    </script>
    <script type="text/x-handlebars-template" id="slider-template">
    </script>
    <script type="text/x-handlebars-template" id="frequency-item-template">
        <a href="javascript:;">{{date}}</a>
    </script>
    <script type="text/x-handlebars-template" id="tooltip-template">
        <div class="heading">You just highlighted:</div>
        <div class="description">{{ annotation }}</div>
        <div class="heading">Create your reflection based off of your highlight:</div>
        <textarea class="reflection"></textarea>
        <button class="btn submit">Write reflection</button>
    </script>
    <script type="text/x-handlebars-template" id="archived-item-template">
        <div class="row">
            <div>
                <div class="section clearfix">
                    <div class="archived-container">This entry is archived</div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="write-template">
        <div class="thought-row">
            <div class="row">
                <div>
                    <div class="section clearfix">
                        <div class="expanded">
                            <div class="header clearfix">
                                <div class="clearfix">
                                    <button type="button" class="btn btn-default privacy">
                                        <i class='fa fa-lock fa-lg' title='Make Anonymous'></i>
                                        <i class='fa fa-unlock-alt fa-lg' title='Make Private'></i>
                                    </button>
                                    <button type="button" class="btn btn-default link">
                                        <i class='fa fa-link fa-lg' title='Add Link'></i>
                                    </button>
                                    <button type="button" class="btn btn-default tag">
                                        <i class='fa fa-tag fa-lg' title='Add Tags'></i>
                                    </button>
                                    <input class='add-link hidden' placeholder="Given a URL you include here... (add 'http')" />
                                    <span style="padding:0 5px"></span>
                                </div>
                                <div class="tags-container"></div>
                            </div>
                            <div class="message">
                                <div class="description">
                                    <textarea placeholder="Write freely about how you feel. Posts are private by default."></textarea>
                                </div>
                            </div>
                            <div class="footer clearfix">
                                <button type="button" class="btn btn-primary create">Create entry</button>
                            </div>
                        </div>
                        <div class="condensed">
                            <a href="javascript:;" class="write-another">Write another reflection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="activity-context-template">
        <div class="activity-box">
            <div class="overflow-container">
                <div class="overflow-description">{{{description}}}
                </div>
            </div>
            <a href="javascript:;"><i class="fa fa-tag"></i>Original post written Oct 26</a>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="date-view-template">
        <div class="message-tabs">
            <ul class="clearfix">
                <li class="entry selected">Entry</li>
                <li class="activity">Activity</li>
            </ul>
        </div>
        <div class="section clearfix">
            <div class="thought-container">
                <div class="clearfix header">
                    <div class="timestamp">
                        Written {{day}}
                    </div>
                </div>
                <div class="thoughts-list"></div>
            </div>
            <div class="activity-container" style="display:none">
                <div class="header clearfix">
                    <div class="timestamp">
                        Activity for {{day}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="thought-item-template">
        <div class="side-action-container">
            {{#if show_replies}}
                {{#if num_replies}}
                    <a href="javascript:;" class="side-action reply-summary">
                        {{num_replies}}
                        <i class="fa fa-comment"></i>
                    </a>
                {{/if}}
            {{/if}}
            {{#if can_reply}}
                <a href="javascript:;" class="side-action write-reply2">
                    <i class="fa fa-plus"></i><span>Reply</span>
                </a>
            {{/if}}
        </div>
        {{#if annotation }}
            <div class="annotation">
                <div class="annotation-desc"><span>Based on your snippet:</span> <span>{{ annotation }}</span></div>
            </div>
        {{/if}}
        <div class="message clearfix{{#equal privacy "Private"}} private{{/equal}}">
            {{#if link}}
                <div class="link-box">
                    <span class="title">With a reflection to this link:</span>
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                </div>
            {{/if}}
            <div class="clearfix">
                <div class="description-container">
                    <div class="description">
                        <span class="selectable-text">{{{ description }}}</span>
                        {{#if read_more}} 
                            <a href="javascript:;" class="read-more">Read more</a>
                        {{/if}}
                    </div>
                    {{#if can_edit }}<textarea>{{ description }}</textarea>{{/if}}
                </div>
                {{#if is_author}}
                <div class="right-actions dropdown-container arrow-right">
                    <a href="javascript:;" class="options">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </a>
                    <div class="dropdown-arrow clearfix">
                        <div class="arrow">
                        </div>
                        <div class="dropdown">
                            <ul>
                                <li><a href="javascript:;" class="privacy-status">Set as {{privacy_inverse}}</a></li>
                                {{#if can_edit }}<li><a href="javascript:;" class="edit">Edit</a></li>{{/if}}
                                <li><a href="javascript:;" class="delete">Delete</a></li>
                                <li><a href="javascript:;" class="archive">Archive</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div style="float: left;">
                {{#equal privacy "Private"}} 
                    <span style="color: #C76F6F;padding-left:4px;"><i class="fa fa-lock" style="margin-right:5px"></i>PRIVATE</span>
                {{/equal}}
            </div>
            {{#if annotation_notice}}
                <div class="annotation-notice">
                    Select text in this entry to highlight
                </div>
            {{/if}}

            <div class="left-actions dropdown-container arrow-left">
                <div class="dropdown-arrow">
                    <div class="arrow"></div>
                    <div class="dropdown"><button class="privacy-status">Set as anonymous</button></div>
                </div>
            </div>
            <div class="tooltip_description" style="display:none;" title="No worries"></div>
        </div>
        {{#if enable_below_message}}
            <div class="below-message">
                {{#if num_annotations}}
                    <div class="count-annotations">{{num_annotations}} <i class="fa fa-bookmark"></i></div>
                {{/if}}
                {{#if num_replies}}
                    <div class="count-replies">{{num_replies}} <i class="fa fa-comment"></i></div>
                {{/if}}
                {{#if tags}}
                    <div class="tags-container">
                        <i class="fa fa-tag"></i>
                        <ul class="tags">
                            {{#each tags}}
                                <li>{{name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        {{/if}}
        <div class="col-md-3">
            <div class="reply-collection-container hidden"></div>
        {{#unless is_author }}
            {{#if can_reply}}
                <div class="write-reply section">
                    <textarea placeholder="Write a reply"></textarea>
                </div>
            {{/if}}
        {{/unless}}
        </div>
    </script>
    <script type="text/x-handlebars-template" id="vet-thought-template">
        {{breaklines description}}
        <a href="javascript:;" class="delete">Delete</a>
        <a href="javascript:;" class="set-private">Set Private</a>
    </script>
    <script type="text/x-handlebars-template" id="reply-template">
        <div>
            <div>
                <p><strong>{{#if is_author}}You{{else}}Someone{{/if}} replied:</strong></p>
                <p>{{ description }}</p>
            </div>
            <div>
            {{#if thanked}}
                {{#if is_author}}
                    <span>You were thanked!</span>
                {{else}}
                    <a href="javascript:;" class="action">
                        <i class="fa fa-heart"></i>
                    </a>
                {{/if}}
            {{else}}
                {{#if can_reply}}
                    <a href="javascript:;" class="action">
                        <span>Thank replier</span>
                        <i class="fa fa-heart-o"></i>
                    </a>
                {{/if}}
            {{/if}}
            <a href="javascript:;" class="make-public {{#if is_public}}hidden{{/if}}">
                Make Public
            </a>
            <span class="public {{#unless is_public}}hidden{{/unless}}">
                Public
            </span>
            </div>
    </script>
    <script type="text/x-handlebars-template" id="new-thought-item-template">
        <span class="checkbox {{#if replied}}active{{/if}}">
            <span class="glyphicon glyphicon-ok"></span>
        </span>
        <a href="javascript:;" class="description">{{ description }}</a>
        <div class="date">written {{ date }}</div>
    </script>
    <script type="text/x-handlebars-template" id="message-template">
        <div class="message">
            <div class="heading">
                You wrote this!
            </div>
            <div class="description">
                {{ description }}
            </div>
            <div class="action-text">
                <a href="javascript:;">Do something!</a>
            </div>
        </div>
    </script>
    <script type="text/template" id="stream-template">
        <div class="title">{{ title }}</div>
        <div class="description">{{ description }}</div>
        <div class="post-footer"><span>{{ privacy }}</span> | <a href="/thought/{{_id}}">View Page</a></div>
    </script>
    <script type="text/template" id="single-template">
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/template" id="reply-template">
        <div class="heading">You have already replied:</div>
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/template" id="single-thought-template">
        <div id="single-thought">
            <div class="section" id="main-thought">
                <div class="container">
                    {{#if title}}<div class="title">{{title}}</div>{{/if}}
                    <div>{{ description }}</div>
                </div>
                {{#if description2 }}
                    <div class="full-thought">
                        <span>{{ description2 }}</span>
                        <div class="show-thought"><a href="javascript:;">Show full reflection</a></div>
                    </div>
                {{/if}}
            </div>
            <div class="clearfix">
                <div class="section container write-reply">
                    <textarea></textarea>
                    <div class="write-footer clearfix">
                        <button class="btn submit-reply">Submit reply</button>
                    </div>
                </div>
                <div class="actions">
                    <p>For more like this...</p>
                    <a href="javascript:;" class="btn">Follow this user</a>
                    <a href="javascript:;" class="report">or Report as Inappropriate</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="sidebar-template">
        {{#if showSuperUser }}
            <li class="show-super-user">
                <a href="#">
                    Superuser
                </a>
            </li>
        {{/if}}
    </script>
    <script type="text/x-handlebars-template" id="active-user-ranges-template">
        {{start_date}}
        {{end_date}}
        {{active_user_count}}
    </script>
    <script type="text/x-handlebars-template" id="super-user-template">
        <div class="tags-container"></div>
        <div class="email-container"></div>
        <div class="active-user-ranges-view-container"></div>
        <div class="user-view-container"></div>
        <div class="thought-view-container"></div>
    </script>
    <script type="text/x-handlebars-template" id="user-template">
        <div class="email">{{ email }}</div>
        <div class="num_thoughts">{{ num_thoughts }}</div>
        <div class="date">{{ date }}</div>
        <div class="delete"><a href="javascript:;">Delete</a></div>
    </script>
    <script type="text/javascript" src="/js/models.js"></script>
    <script type="text/javascript" src="/js/views/common_views.js"></script>
    <script type="text/javascript" src="/js/views/views.js"></script>
    <script type="text/javascript" src="/js/views/home.js"></script>
    <script type="text/javascript" src="/js/views/sidebar.js"></script>
    <script type="text/javascript" src="/js/views/single.js"></script>
    <script type="text/javascript" src="/js/views/index.js"></script>
    <script type="text/javascript" src="/js/views/thoughts.js"></script>
    <script type="text/javascript" src="/js/views/replies.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
    </script>
</head>
<body <% if (landing_page) { %> class="landing-page"<% } %> >
<% if (topBar) { %>
<% include topbar %>
<% } %>
    <div class="wrapper clearfix">