<html>
<head>
    <link type="text/css" href="/css/third-party/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/third-party/jquery.tooltip.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link type="text/css" href="/css/single.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/third-party/jquery.min.js"></script>
    <script type="text/javascript" src="/js/third-party/bootstrap.js"></script>
    <script type="text/javascript" src="/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/js/third-party/backbone.min.js"></script>
    <script type="text/javascript" src="/bower_components/backbone.paginator/lib/backbone.paginator.min.js"></script>
    <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.scrollspy.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.highlight.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="/js/third-party/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/js/third-party/handlebars.js"></script>

    <script type="text/x-handlebars-template" id="index-template">
        <div class="info-container">
            <div class="logo-name">Welcome to reflectupon</div>
            <div class="description">An online e-journaling platform helping you to better your own self-awareness.</div>
        </div>
        <div class="form-container login-form">
            <form id="login-form" action="/login" method="post">
                <div class="row-container clearfix">
                    <label>Username</label>
                    <input class="input" type="text" name="username"/><br/>
                </div>
                <div class="row-container clearfix">
                    <label>Password</label>
                    <input class="input" type="password" name="password"/>
                </div>
                <div class="row-container clearfix">
                    <input type="submit" value="Log in"/>
                </div>
                {{#if message}}
                    <div class="special-msg">{{ message }}</div>
                {{/if}}
                <div class="forgot-password-container">
                    <a href="javascript:;" class="forgot-password">Forgot your password?</a>
                </div>
            </form>
            <div class="or-register">or <a href="javascript:;">Register</a></div>
            <form id="register-form" action="/register" method="post">
                <div class="row-container clearfix">
                    <label>Username</label>
                    <input class="input" type="text" name="username"/><br/>
                </div>
                <div class="row-container clearfix">
                    <label>Password</label>
                    <input class="input" type="password" name="password"/>
                </div>
                <div class="row-container clearfix">
                    <label>E-mail</label>
                    <input class="input" type="text" name="email"/><br/>
                </div>
                <div class="clearfix">
                    <input type="submit" value="Register"/>
                </div>
            </form>
            <div class="or-login">or <a href="javascript:;">Log In</a></div>
            <form id="forgot-password" class="hidden" action="/forgot" method="post">
                <div class="row-container clearfix">
                    Forgot your password?
                </div>
                <hr>
                <div class="row-container clearfix">
                    <label>Email</label>
                    <input class="input" type="text" name="email" />
                </div>
                <div class="row-container clearfix">
                    <input type="submit" value="Retrieve"/>
                </div>
            </form>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="home-template">
        <div class="message-container"></div>
        <div class="frequency-container"></div>
        <div class="recommended-container"></div>
        <div class="thought-container"></div>
        <div class="pagination-container"></div>
    </script>
    <script type="text/x-handlebars-template" id="nag-template">
        <div class="header clearfix">
            <a href="javascript:;" class="close">
                <i class="fa fa-times" style="margin-left:-1px"></i>
            </a>
        </div>
        <div class="message">{{copy}}</div>
    </script>
    <script type="text/x-handlebars-template" id="recommended-item-template">
        <div class="date">Written {{ duration }}</div>
        <div class="rec-thought-container"></div>
    </script>
    <script type="text/x-handlebars-template" id="pagination-template">
        <a href="javascript:;" class="section container">View More Thoughts</a>
    </script>
    <script type="text/x-handlebars-template" id="postbox-template">
        <div class="postbox-two clearfix">
            <p>How do you feel now? Don't hesitate to write freely.</p>
            <textarea class="form-control postbox-description" rows="10"></textarea>
            <button type="button" class="btn btn-primary postbox-send">Create reflection</button>
        </div>
        <div class="postbox-options">
            <p>Using the freewrite you just wrote, write a poem. It's important to recognize the feelings that you felt.</p>
            <p>Any kind qualifies! Why not try writing a haiku? Please use <a href="http://poetrytherapy.org/">http://poetrytherapy.org/</a> as an example</p>

            <textarea class="form-control" rows="3" id="expression-field"></textarea>
            <button type="button" class="btn btn-primary postbox-submit">Create reflection</button>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="new-frequency-template">
        <div class="description">Anonymous reflections you have made</div>
        <ul class="new-frequency clearfix"></ul>
    </script>
    <script type="text/x-handlebars-template" id="frequency-template">
        <div class="description">Post Frequency</div>
        <ul></ul>
    </script>
    <script type="text/x-handlebars-template" id="slider-template">
    </script>
    <script type="text/x-handlebars-template" id="frequency-item-template">
        <div class="{{#if filled}}filled{{/if}}"></div>
    </script>
    <script type="text/x-handlebars-template" id="tooltip-template">
        <div class="heading">You just highlighted:</div>
        <div class="description">{{ annotation }}</div>
        <div class="heading">Create your reflection based off of your highlight:</div>
        <textarea class="reflection"></textarea>
        <button class="btn submit">Write reflection</button>
    </script>
    <script type="text/x-handlebars-template" id="archived-item-template">
        <div class="archived-container"><div class="archived">Archived Thought</div></div>
    </script>
    <script type="text/x-handlebars-template" id="thought-item-template">
        {{#if annotation }}
            <div class="annotation">
                <div class="annotation-desc"><div class="label">Based on your snippet:</div><div>{{ annotation }}</div></div>
            </div>
        {{/if}}
        <div class="message clearfix{{#equal privacy "Private"}} private{{/equal}}">
            <div class="clearfix header">
                <div style="float: left;">
                    {{#equal privacy "Private"}} 
                        <span style="color: #D31616;">PRIVATE</span>
                    {{/equal}}
                    {{#unless is_author}}
                        <span style="color: #8585D3;">Someone wrote:</span>
                    {{/unless}}
                </div>
                <div style="float: right;">
                    <span style="color:#999999">Written {{duration}}</span>
                </div>
            </div>
            <div class="description-container">
                <div class="description">{{ description }}{{#if read_more}} <a href="javascript:;" class="read-more">Read more</a>{{/if}}</div>
                {{#if can_edit }}<textarea>{{ description }}</textarea>{{/if}}
            </div>

            {{#if is_author}}
            <div class="right-actions dropdown-container arrow-right">
                <a href="javascript:;" class="options">
                    <i class="fa fa-angle-down fa-lg"></i>
                </a>
                <div class="dropdown-arrow clearfix">
                    <div class="arrow">
                    </div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="javascript:;" class="privacy-status">Set as {{privacy_inverse}}</a></li>
                            {{#if can_edit }}<li><a href="javascript:;" class="edit">Edit</a></li>{{/if}}
                            <li><a href="javascript:;" class="delete">Delete</a></li>
                            <li><a href="javascript:;" class="archive">Archive</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="left-actions dropdown-container arrow-left">
                <div class="lock-container">
                    <i class="fa fa-lock"></i><div>Private</div>
                </div>
                <div class="dropdown-arrow">
                    <div class="arrow"></div>
                    <div class="dropdown"><button class="privacy-status">Set as anonymous</button></div>
                </div>
            </div>
            <div class="tooltip_description" style="display:none;" title="No worries"></div>
        </div>
        <div class="reply-collection-container"></div>
        {{#if is_author }}{{else}}
        {{#if can_reply}}
        <div class="write-reply"><input placeholder="Write a reply"></div>
        {{/if}}
        {{/if}}
    </script>
    <script type="text/x-handlebars-template" id="reply-template">
        <div class="label">Reply:</div>
        <div class="reply-description">{{ description }}</div>
        {{#if is_author}}
        {{else}}
            {{#if thanked}}
                <a href="javascript:;" class="action">
                    Replier thanked!
                    <i class="fa fa-heart"></i>
                </a>
            {{else}}
                <a href="javascript:;" class="action">
                    Thank replier
                    <i class="fa fa-heart-o"></i>
                </a>
            {{/if}}
        {{/if}}
    </script>
    <script type="text/x-handlebars-template" id="new-thought-item-template">
        <span class="checkbox {{#if replied}}active{{/if}}">
            <span class="glyphicon glyphicon-ok"></span>
        </span>
        <a href="javascript:;" class="description">{{ description }}</a>
        <div class="date">written {{ date }}</div>
    </script>
    <script type="text/x-handlebars-template" id="message-template">
        <div class="message">
            <div class="heading">
                You wrote this!
            </div>
            <div class="description">
                {{ description }}
            </div>
            <div class="action-text">
                <a href="javascript:;">Do something!</a>
            </div>
        </div>
    </script>
    <script type="text/template" id="stream-template">
        <div class="title">{{ title }}</div>
        <div class="description">{{ description }}</div>
        <div class="post-footer"><span>{{ privacy }}</span> | <a href="/thought/{{_id}}">View Page</a></div>
    </script>
    <script type="text/template" id="single-template">
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/template" id="reply-template">
        <div class="heading">You have already replied:</div>
        <div class="description">{{ description }}</div>
    </script>
    <script type="text/template" id="single-thought-template">
        <div id="single-thought">
            <div class="section" id="main-thought">
                <div class="container">
                    {{#if title}}<div class="title">{{title}}</div>{{/if}}
                    <div>{{ description }}</div>
                </div>
                {{#if description2 }}
                    <div class="full-thought">
                        <span>{{ description2 }}</span>
                        <div class="show-thought"><a href="javascript:;">Show full reflection</a></div>
                    </div>
                {{/if}}
            </div>
            <div class="clearfix">
                <div class="section container write-reply">
                    <textarea></textarea>
                    <div class="write-footer clearfix">
                        <button class="btn submit-reply">Submit reply</button>
                    </div>
                </div>
                <div class="actions">
                    <p>For more like this...</p>
                    <a href="javascript:;" class="btn">Follow this user</a>
                    <a href="javascript:;" class="report">or Report as Inappropriate</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="sidebar-template">
        <div class="menu">
        <div class="show-postbox">
            <i class="fa fa-plus-square-o fa-2x" style="
                padding-left: 2px;
            "></i>
        </div>
        <div class="show-thoughts">
            <i class="fa fa-bars fa-2x" style="
                padding-left: 1px;
            "></i>
        </div>
        {{#if showSuperUser }}
            <div class="show-super-user">
                <i class="fa fa-globe fa-2x" style="margin-left:1px"></i>
            </div>
        {{/if}}
        </div>
    </script>
    <script type="text/x-handlebars-template" id="user-template">
        {{ email }}<br />
        {{ date }}
    </script>
    <script type="text/javascript" src="/js/models.js"></script>
    <script type="text/javascript" src="/js/views/common_views.js"></script>
    <script type="text/javascript" src="/js/views/views.js"></script>
    <script type="text/javascript" src="/js/views/home.js"></script>
    <script type="text/javascript" src="/js/views/sidebar.js"></script>
    <script type="text/javascript" src="/js/views/single.js"></script>
    <script type="text/javascript" src="/js/views/index.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
    </script>
</head>
<body <% if (landing_page) { %> class="landing-page"<% } %> >
<% if (topBar) { %>
<% include topbar %>
<% } %>
    <div class="wrapper clearfix">