<% include header %>
    <div id="sidebar"></div>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startPage({ user_id: "<%= user._id %>", email: "<%= user.email %>" });
    })
    </script>

<% include footer %>

