<% include header %>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startPage({ user_id: "<%= user._id %>", email: "<%= user.email %>", frequency: <%- frequency %>, popular: <%- popular %> });
    })
    </script>

<% include footer %>