<% include header %>
<div class="index-container">
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var message = "<%= typeof message != 'undefined' ? message : '' %>";
    rupon.controllers.startIndexPage(message);
  })
</script>
<% include footer %>