<% include header %>
    <div id="container" class="new-user-page"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startNewUserPage({
            communities: <%- communities %>
        });
    }) 
    </script>

<% include footer %>