<% include header %>
    <div id="container" class="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startReportsPage({ user_id: "<%= user._id %>", email: "<%= user.email %>" });
    })
    </script>

<% include footer %>