<% include header %>
    <div id="container" class="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startSettingsPage({
          username: "<%= user.username %>",
          user_id:  "<%= user._id %>",
          settings: <%- settings %>
        });
    })
    </script>

<% include footer %>