<% include header %>
    <div id="container"></div>

    <script type="text/javascript">
    $(document).ready(function(){
        rupon.controllers.startSuperuserPage({
          communities: <%- communities %>,
          challenges: <%- challenges %>,
        });
    })
    </script>

<% include footer %>