<div id="topbar-wrapper">
    <div id="topbar">
        <a id="lifeline" href="/home">reflectupon</a>
        <a class="icon" href="/logout"><i class="fa fa-sign-out <% if (!signout) { %>hidden <% }%>"></i></a>
        <a class="icon" style="display:none" href="/dashboard"><i class="fa fa-video-camera"></i></a>
    </div>
</div>