<div id="topbar-wrapper">
  <div class="navbar">
    <div id="topbar">
        <div class="navbar-header">
          <a class="navbar-brand" id="lifeline" href="/home"></a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" style="font-size:16px">
          <ul class="nav navbar-nav left-nav">
              <% if (is_admin) { %>
                  <li>
                      <a href="/superuser">
                          Superuser
                      </a>
                  </li>
              <% } %>
              <li class="my-entries">
                  <a href="#entries">
                      My Entries
                  </a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (signout) { %>
              <li class="me-container dropdown-container arrow-right">
                <img src="<%- JSON.parse(user).avatar_url %>" style="width: 40px;height:40px;vertical-align:-14px;border-radius: 5px;border: 1px solid #828282;" />
                <a href="/profile/<%- JSON.parse(user).username %>"><%- JSON.parse(user).username %></a>
                <a href="javascript:;"><i style="font-size:16px" class="fa fa-gear"></i></a>
                <div class="dropdown-arrow clearfix">
                  <div class="arrow"></div>
                  <div class="dropdown"></div>
                </div>
              </li>
            <% } else { %><!--
              <li>
                  <a href="javascript:;" class="sign-up-btn">Sign up</a>
              </li>-->
              <li>
                  <a href="javascript:;" class="log-in-btn">Log in as Beta User</a>
              </li>
            <% } %>
          </ul>
        </nav>
        <a class="icon" style="display:none" href="/dashboard"><i class="fa fa-video-camera"></i></a>
    </div>
  </div>
</div>