Hey! Here are some posts for this week on <a href="http://reflectupon.net?login=1">reflectupon</a>:

<ul style="list-style:none;padding-left:0;">
<% for (var i=0; i<descriptions.length;i++) { %>
  <li style="padding:15px 10px;margin:0 10px 12px;min-height:40px;background-color:#fff;border-radius:2px;"><%= descriptions[i] %></li>
<% } %>
</ul>

Thanks!<br />
reflectupon team